**Import Section**

Importing relavent packages for the project.

Note: We will ignore warnings for simplicity.

In [918]:
import numpy as py
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

**Creating initial dataframes**

Following files are available for the project:

1. movie_characters_metadata.tsv
2. movie_conversations.tsv
3. movie_lines.tsv
4. movie_titles_metadata.tsv
5. raw_script_urls


Here are the list of initial dataframes for the respective files:
1. characters_df
2. conversations_df
3. lines_df
4. titles_df
5. rawScript_df


General File Features:
1. Files are tab seperated ('\t').
2. There is no header or footers in any of the files.
3. Few bad rows are present in the files. These rows will be dropped while dataframe creation.

In [919]:
##Creating characters_df dataframe from movie_characters_metadata.tsv

column_names = ['chId', 'chName', 'mId', 'mName', 'gender', 'posCredits']
characters_df = pd.read_csv('movie_characters_metadata.tsv', sep='\t', header=None, names=column_names, on_bad_lines='skip')
print("SUCESS : 'characters_df' dataframe created from 'movie_characters_metadata.tsv'\n")
print('Here is a snapshot of data')
characters_df.head()

SUCESS : 'characters_df' dataframe created from 'movie_characters_metadata.tsv'

Here is a snapshot of data

  chId    chName mId                       mName gender posCredits
0   u0    BIANCA  m0  10 things i hate about you      f          4
1   u1     BRUCE  m0  10 things i hate about you      ?          ?
2   u2   CAMERON  m0  10 things i hate about you      m          3
3   u3  CHASTITY  m0  10 things i hate about you      ?          ?
4   u4      JOEY  m0  10 things i hate about you      m          6

In [920]:
print("Dimension & metadata of characters_df",characters_df.shape)
print(characters_df.info())

Dimension & metadata of characters_df (9034, 6)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9034 entries, 0 to 9033
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   chId        9034 non-null   object
 1   chName      9015 non-null   object
 2   mId         9017 non-null   object
 3   mName       9017 non-null   object
 4   gender      9017 non-null   object
 5   posCredits  9017 non-null   object
dtypes: object(6)
memory usage: 423.6+ KB
None

In [921]:
##Checking on the percentage of NaN for each column in the dataframe

nan_percentage = (characters_df.isna().mean() * 100).round(2)
print("Distribution Of NaN across dataframe")
print(nan_percentage)

Distribution Of NaN across dataframe
chId          0.00
chName        0.21
mId           0.19
mName         0.19
gender        0.19
posCredits    0.19
dtype: float64

In [922]:
num_rows_dropped = characters_df.isna().any(axis=1).sum()
print("Number of rows that would be dropped due to NaN:", num_rows_dropped)

Number of rows that would be dropped due to NaN: 19

In [923]:
# Removing rows with NaN values
characters_df = characters_df.dropna()

In [924]:
# Remove duplicate rows
duplicate_counts = characters_df.duplicated().sum()
print("Total duplicate", duplicate_counts)
if duplicate_counts > 0:
  characters_df = characters_df.drop_duplicates()

Total duplicate 0

**Data Cleansing: Removing Ambiguity From The Column Gender**

In this project we are dividing gender to two groups "Male" (M) & "Female" (F). 

However during the initial data analysis, it is identified that 4 different types of values are available in the column gender('?', 'm', 'f', 'M'). On further investigation, it has been confirmed all gender where data is 'm' & 'M' belong to male class rest can be grouped as female. The rows with '?' as gender must be dropped as chId is the identifier column for the dataframe and there is no chId with multiple gender so there is no scope for data correction.

In this dataframe 'Male' class will be represented as 'M' & 'Female' class will be represented as 'F'.

In [925]:
##Count of values of each gender type
characters_df.gender.value_counts()

gender
?    6006
m    1899
f     921
M     145
F      44
Name: count, dtype: int64

In [926]:
##Data Analysis to check if any chId has multiple gender assigned to it.
##Result: None found
grouped = characters_df.groupby('chId')['gender'].nunique()
chId_with_multiple_genders = grouped[grouped > 1].index.tolist()
print("chId values with more than one gender:", len(chId_with_multiple_genders))

chId values with more than one gender: 0

In [927]:
##Removing data ambiguity from gender
characters_df = characters_df[characters_df.gender != '?']
characters_df.gender = characters_df.gender.apply(lambda g: 'M' if g in ['m', 'M'] else 'F')
print("Data Distribution Per Gender:")
characters_df.gender.value_counts()

Data Distribution Per Gender:

gender
M    2044
F     965
Name: count, dtype: int64

**Data Cleansing: Removing non-numeric values from the column posCredits**

As per the column defination, 'posCredits' is  numeric column containing the information of the position where the character features in the credits. Hence this cannot be non-numeric. 

Since a significant number of rows (330) contain '?' we will replace it with -1. This would indicate the character didnot appear in the posCredit.

In [928]:
##Find the non-numeric value for posCredits column
non_numeric_posCredits = characters_df.loc[~pd.to_numeric(characters_df['posCredits'], errors='coerce').notna(), 'posCredits'].unique()
print("Non-numeric values in 'posCredits' column:", non_numeric_posCredits)


#Examine the distribution of male & female with this junk data
filtered_df = characters_df[characters_df['posCredits'] == '?']
# Count the number of males and females
male_count = filtered_df[filtered_df['gender'] == 'M'].shape[0]
female_count = filtered_df[filtered_df['gender'] == 'F'].shape[0]

print("Number of males with posCredits = '?':", male_count)
print("Number of females with posCredits = '?':", female_count)

Non-numeric values in 'posCredits' column: ['?']
Number of males with posCredits = '?': 225
Number of females with posCredits = '?': 105

In [929]:
characters_df['posCredits'] = characters_df['posCredits'].replace('?', -1).astype(int)
characters_df.describe()

        posCredits
count  3009.000000
mean     17.641741
std     111.341380
min      -1.000000
25%       1.000000
50%       3.000000
75%       6.000000
max    1000.000000

**Movie Title Dataframe**

This dataframe is created from the movie_titles_metadata.tsv file

In [930]:
##Creating the dataframe : titles_df

column_names = ['mId', 'mName', 'mYear', 'mRating', 'mVotes', 'mGenre']
titles_df = pd.read_csv('movie_titles_metadata.tsv', sep='\t', names=column_names, header=None, on_bad_lines='skip')
print("SUCESS : 'titles_df' dataframe created from 'movie_titles_metadata.tsv'\n")
print('Here is a snapshot of data')
titles_df.head()

SUCESS : 'titles_df' dataframe created from 'movie_titles_metadata.tsv'

Here is a snapshot of data

,mId,mName,mYear,mRating,mVotes,mGenre
0,m0,10 things i hate about you,1999,6.9,62847.0,['comedy' 'romance']
1,m1,1492: conquest of paradise,1992,6.2,10421.0,['adventure' 'biography' 'drama' 'history']
2,m2,15 minutes,2001,6.1,25854.0,['action' 'crime' 'drama' 'thriller']
3,m3,2001: a space odyssey,1968,8.4,163227.0,['adventure' 'mystery' 'sci-fi']
4,m4,48 hrs.,1982,6.9,22289.0,['action' 'comedy' 'crime' 'drama' 'thriller']

In [931]:
print("Dimension & metadata of the dataframe",titles_df.shape)
print(titles_df.info())

Dimension & metadata of the dataframe (617, 6)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 617 entries, 0 to 616
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   mId      617 non-null    object
 1   mName    616 non-null    object
 2   mYear    616 non-null    object
 3   mRating  616 non-null    float64
 4   mVotes   616 non-null    float64
 5   mGenre   616 non-null    object
dtypes: float64(2), object(4)
memory usage: 29.1+ KB
None

**Since the number of rows with NAN are very less we will drop rows with NAN**

In [932]:
print("Distribution of NAN across columns in the dataframe")
nan_percentage = (titles_df.isna().mean() * 100).round(2)
print(nan_percentage)

Distribution of NAN across columns in the dataframe
mId        0.00
mName      0.16
mYear      0.16
mRating    0.16
mVotes     0.16
mGenre     0.16
dtype: float64

In [933]:
num_rows_dropped = titles_df.isna().any(axis=1).sum()
print("Number of rows that would be dropped due to NaN:", num_rows_dropped)

Number of rows that would be dropped due to NaN: 1

In [934]:
# Remove rows with NaN values
titles_df = titles_df.dropna()

**No Duplicate to Delete**

In [935]:
# Remove duplicate rows
duplicate_counts = titles_df.duplicated().sum()
print("Total Number of duplicate rows", duplicate_counts)
if duplicate_counts > 0:
  titles_df = titles_df.drop_duplicates()

Total Number of duplicate rows 0

**No data ambiguity in the numeric columns for the dataframe**

In [936]:
titles_df.describe()

          mRating         mVotes
count  616.000000     616.000000
mean     6.865584   49901.698052
std      1.215463   61898.367352
min      2.500000       9.000000
25%      6.200000    9992.500000
50%      7.000000   27121.500000
75%      7.800000   66890.000000
max      9.300000  419312.000000

**Data Cleansing: Removing Data Ambiguity from Year Column**

The column 'mYear' contains information on the year of the movie release. The year information cannot be non-numeric and it has to be in 'YYYY' format.

As shown below, some of the rows contain year appended with a string. As part of preprocessing, the year part is extracted from the string.

In [937]:
column_name = 'mYear' 

# Filter non-numeric values in the specified column
non_numeric_values = titles_df.loc[~pd.to_numeric(titles_df[column_name], errors='coerce').notna(), column_name]

# Get unique non-numeric values
unique_non_numeric_values = non_numeric_values.unique()

# Display the unique non-numeric values
print("Unique non-numeric values in column '{}':".format(column_name))
print(unique_non_numeric_values)

Unique non-numeric values in column 'mYear':
['1989/I' '1990/I' '1995/I' '1998/I' '2004/I' '2007/I' '1992/I' '2005/I'
 '2002/I' '1968/I' '1996/I' '2000/I' '2009/I' '2003/I']

In [938]:
column_name = 'mYear'

# Extract numeric portion using regular expression
titles_df[column_name] = titles_df[column_name].str.extract('(\d+)', expand=False)
titles_df[column_name] = titles_df[column_name].astype(int)

**Final Data Snapshot**

In [939]:
titles_df.head()

,mId,mName,mYear,mRating,mVotes,mGenre
0,m0,10 things i hate about you,1999,6.9,62847.0,['comedy' 'romance']
1,m1,1492: conquest of paradise,1992,6.2,10421.0,['adventure' 'biography' 'drama' 'history']
2,m2,15 minutes,2001,6.1,25854.0,['action' 'crime' 'drama' 'thriller']
3,m3,2001: a space odyssey,1968,8.4,163227.0,['adventure' 'mystery' 'sci-fi']
4,m4,48 hrs.,1982,6.9,22289.0,['action' 'comedy' 'crime' 'drama' 'thriller']

Movie Lines

In [940]:
column_names = ['lId', 'chId', 'mId', 'chName', 'chLine']
lines_df = pd.read_csv('movie_lines.tsv', sep='\t', header=None,names=column_names, on_bad_lines='skip')
lines_df.head()

     lId chId mId   chName        chLine
0  L1045   u0  m0   BIANCA  They do not!
1  L1044   u2  m0  CAMERON   They do to!
2   L985   u0  m0   BIANCA    I hope so.
3   L984   u2  m0  CAMERON     She okay?
4   L925   u0  m0   BIANCA     Let's go.

In [941]:
print(lines_df.shape)
print(lines_df.info())

(293202, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293202 entries, 0 to 293201
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   lId     293202 non-null  object
 1   chId    288917 non-null  object
 2   mId     288917 non-null  object
 3   chName  288874 non-null  object
 4   chLine  288663 non-null  object
dtypes: object(5)
memory usage: 11.2+ MB
None

In [942]:
nan_percentage = (lines_df.isna().mean() * 100).round(2)
print(nan_percentage)

lId       0.00
chId      1.46
mId       1.46
chName    1.48
chLine    1.55
dtype: float64

In [943]:
num_rows_dropped = lines_df.isna().any(axis=1).sum()
print("Number of rows that would be dropped due to NaN:", num_rows_dropped)

Number of rows that would be dropped due to NaN: 4582

In [944]:
lines_df = lines_df.dropna()

In [945]:
# Remove duplicate rows
duplicate_counts = lines_df.duplicated().sum()
print("Total duplicates: ",duplicate_counts)
if duplicate_counts > 0:
  lines_df = lines_df.drop_duplicates()

Total duplicates:  0

In [946]:
print(lines_df.shape)

(288620, 5)

In [947]:
column_names = ['chId1', 'chId2','mId', 'lineList']
conversations_df = pd.read_csv('movie_conversations.tsv', sep='\t',names=column_names, header=None, on_bad_lines='skip')
conversations_df.head()

  chId1 chId2 mId                       lineList
0    u0    u2  m0  ['L194' 'L195' 'L196' 'L197']
1    u0    u2  m0                ['L198' 'L199']
2    u0    u2  m0  ['L200' 'L201' 'L202' 'L203']
3    u0    u2  m0         ['L204' 'L205' 'L206']
4    u0    u2  m0                ['L207' 'L208']

In [948]:
nan_percentage = (conversations_df.isna().mean() * 100).round(2)
print(nan_percentage)

chId1       0.0
chId2       0.0
mId         0.0
lineList    0.0
dtype: float64

In [949]:
# Remove duplicate rows
duplicate_counts = lines_df.duplicated().sum()
print("Total Number Of Duplicates: ", duplicate_counts)
if duplicate_counts > 0:
  lines_df = lines_df.drop_duplicates()

Total Number Of Duplicates:  0

In [950]:
conversations_df.shape

(83097, 4)

In [951]:
conversations_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83097 entries, 0 to 83096
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   chId1     83097 non-null  object
 1   chId2     83097 non-null  object
 2   mId       83097 non-null  object
 3   lineList  83097 non-null  object
dtypes: object(4)
memory usage: 2.5+ MB

In [952]:
column_names = ['mId','mName','url']
rawScript_df = pd.read_csv('raw_script_urls.tsv', sep='\t', names=column_names, header=None,on_bad_lines='skip')
rawScript_df.head()

,mId,mName,url
0,m0,10 things i hate about you,http://www.dailyscript.com/scripts/10Things.html
1,m1,1492: conquest of paradise,http://www.hundland.org/scripts/1492-ConquestO...
2,m2,15 minutes,http://www.dailyscript.com/scripts/15minutes.html
3,m3,2001: a space odyssey,http://www.scifiscripts.com/scripts/2001.txt
4,m4,48 hrs.,http://www.awesomefilm.com/script/48hours.txt

In [953]:
rawScript_df.shape

(617, 3)

In [954]:
nan_percentage = (rawScript_df.isna().mean() * 100).round(2)
print(nan_percentage)

mId      0.00
mName    0.16
url      0.16
dtype: float64

In [955]:
num_rows_dropped = rawScript_df.isna().any(axis=1).sum()
print("Number of rows that would be dropped due to NaN:", num_rows_dropped)

Number of rows that would be dropped due to NaN: 1

In [956]:
# Remove rows with NaN values
rawScript_df = rawScript_df.dropna()

In [957]:
# Remove duplicate rows
duplicate_counts = rawScript_df.duplicated().sum()
print("Total Number Of Duplicates: ", duplicate_counts)
if duplicate_counts > 0:
  rawScript_df = rawScript_df.drop_duplicates()

Total Number Of Duplicates:  0

In [958]:
rawScript_df.shape

(616, 3)

Here are the list of initial dataframes:
1. characters_df
2. titles_df
3. conversations_df
4. rawScript_df
5. lines_df

In [959]:
unique_movies_count = characters_df['mId'].nunique()
print("Number of unique movies:", unique_movies_count)

Number of unique movies: 599

In [960]:
# Movies in titles_df but not in characters_df
movies_in_titles_not_in_characters = set(titles_df['mId']) - set(characters_df['mId'])

# Movies in characters_df but not in titles_df
movies_in_characters_not_in_titles = set(characters_df['mId']) - set(titles_df['mId'])

# Convert the sets to lists for easier handling or further analysis
movies_in_titles_not_in_characters_list = list(movies_in_titles_not_in_characters)
movies_in_characters_not_in_titles_list = list(movies_in_characters_not_in_titles)

print("Movies in titles_df but not in characters_df:", movies_in_titles_not_in_characters_list)
print("Movies in characters_df but not in titles_df:", movies_in_characters_not_in_titles_list)

Movies in titles_df but not in characters_df: ['m237', 'm535', 'm602', 'm412', 'm270', 'm406', 'm600', 'm321', 'm338', 'm614', 'm364', 'm484', 'm456', 'm483', 'm521', 'm616', 'm135']
Movies in characters_df but not in titles_df: []

In [961]:
detailed_characters_df = characters_df.merge(titles_df[['mId', 'mYear', 'mRating', 'mVotes', 'mGenre']], on='mId', how='left')
print("Dimension Of Charaters Dataframe",characters_df.shape)
print("Dimension Of Merged Character Dataframe",detailed_characters_df.shape)
detailed_characters_df.head()

Dimension Of Charaters Dataframe (3009, 6)
Dimension Of Merged Character Dataframe (3009, 10)

,chId,chName,mId,mName,gender,posCredits,mYear,mRating,mVotes,mGenre
0,u0,BIANCA,m0,10 things i hate about you,F,4,1999,6.9,62847.0,['comedy' 'romance']
1,u2,CAMERON,m0,10 things i hate about you,M,3,1999,6.9,62847.0,['comedy' 'romance']
2,u4,JOEY,m0,10 things i hate about you,M,6,1999,6.9,62847.0,['comedy' 'romance']
3,u5,KAT,m0,10 things i hate about you,F,2,1999,6.9,62847.0,['comedy' 'romance']
4,u6,MANDELLA,m0,10 things i hate about you,F,7,1999,6.9,62847.0,['comedy' 'romance']

In [962]:
duplicate_counts = detailed_characters_df.duplicated().sum()
print("Total Number Of Duplicates: ", duplicate_counts)

Total Number Of Duplicates:  0

In [963]:
nan_percentage = (detailed_characters_df.isna().mean() * 100).round(2)
print(nan_percentage)

chId          0.0
chName        0.0
mId           0.0
mName         0.0
gender        0.0
posCredits    0.0
mYear         0.0
mRating       0.0
mVotes        0.0
mGenre        0.0
dtype: float64

In [964]:
# Characters in lines_df but not in detailed_characters_df
characters_in_lines_not_in_merged = set(lines_df['chId']) - set(detailed_characters_df['chId'])

# Characters in merged_df but not in lines_df
characters_in_merged_not_in_lines = set(detailed_characters_df['chId']) - set(lines_df['chId'])

# Convert the sets to lists for easier handling or further analysis
characters_in_lines_not_in_merged_list = list(characters_in_lines_not_in_merged)
characters_in_merged_not_in_lines_list = list(characters_in_merged_not_in_lines)

print("Characters in lines_df but not in detailed_characters_df:", characters_in_lines_not_in_merged_list)
print("Characters in detailed_characters_df but not in lines_df:", characters_in_merged_not_in_lines_list)

Characters in lines_df but not in detailed_characters_df: ['u4095', 'u5463', 'u6293', 'u3271', 'u815', 'u4259', 'u1085', 'u8313', 'u3160', 'u5896', 'u7278', 'u2964', 'u5149', 'u4669', 'u1876', 'u1808', 'u316', 'u3692', 'u3347', 'u2258', 'u7907', 'u518', 'u448', 'u3721', 'u1683', 'u7882', 'u1075', 'u3855', 'u4947', 'u484', 'u107', 'u4371', 'u2145', 'u1337', 'u2437', 'u5619', 'u410', 'u3038', 'u5879', 'u7095', 'u3958', 'u1914', 'u6097', 'u6644', 'u1590', 'u3320', 'u1291', 'u149', 'u3128', 'u3950', 'u1942', 'u7726', 'u1033', 'u3790', 'u3925', 'u6570', 'u4254', 'u7241', 'u1439', 'u7609', 'u2396', 'u4944', 'u7685', 'u8921', 'u1168', 'u5775', 'u6244', 'u2257', 'u1401', 'u1250', 'u2694', 'u6485', 'u1690', 'u6888', 'u9027', 'u647', 'u1726', 'u396', 'u7466', 'u5786', 'u2703', 'u6973', 'u7393', 'u1182', 'u5765', 'u6275', 'u568', 'u7861', 'u5955', 'u7549', 'u2713', 'u6764', 'u4272', 'u1316', 'u3328', 'u4313', 'u6272', 'u4816', 'u6307', 'u9010', 'u8485', 'u4229', 'u4821', 'u6441', 'u2548', 'u8116', 'u202', 'u4038', 'u356', 'u4343', 'u989', 'u618', 'u7427', 'u563', 'u399', 'u4378', 'u2112', 'u8237', 'u1623', 'u8024', 'u3614', 'u311', 'u941', 'u1197', 'u1694', 'u2303', 'u6585', 'u7488', 'u3226', 'u6924', 'u8747', 'u8678', 'u2693', 'u2910', 'u3683', 'u3905', 'u510', 'u8449', 'u6377', 'u1207', 'u5801', 'u1954', 'u2543', 'u808', 'u5320', 'u1882', 'u6870', 'u7136', 'u7238', 'u5294', 'u1335', 'u2605', 'u2811', 'u5131', 'u9033', 'u2731', 'u307', 'u4777', 'u6254', 'u6006', 'u8052', 'u7334', 'u3670', 'u2604', 'u2719', 'u6956', 'u3874', 'u6264', 'u1982', 'u679', 'u3577', 'u5446', 'u3158', 'u2801', 'u4182', 'u811', 'u6298', 'u4440', 'u449', 'u2361', 'u8730', 'u3052', 'u2790', 'u12', 'u4545', 'u4061', 'u8184', 'u8579', 'u7832', 'u2293', 'u628', 'u37', 'u6643', 'u1986', 'u80', 'u7601', 'u1301', 'u3046', 'u7631', 'u7117', 'u7240', 'u5238', 'u4163', 'u3482', 'u207', 'u8792', 'u1376', 'u8374', 'u1029', 'u7237', 'u1170', 'u6214', 'u2558', 'u7642', 'u3590', 'u1157', 'u2732', 'u1080', 'u4461', 'u4211', 'u6154', 'u683', 'u5636', 'u2865', 'u3682', 'u2121', 'u5911', 'u7731', 'u2063', 'u1910', 'u2829', 'u6093', 'u1472', 'u1802', 'u8987', 'u7378', 'u8740', 'u1209', 'u853', 'u5977', 'u729', 'u5713', 'u8509', 'u8112', 'u4431', 'u1658', 'u343', 'u5459', 'u7449', 'u1901', 'u1847', 'u3082', 'u6131', 'u7760', 'u8681', 'u1039', 'u3655', 'u6726', 'u2579', 'u6716', 'u7507', 'u1408', 'u4757', 'u3672', 'u6844', 'u2082', 'u3089', 'u2919', 'u6867', 'u5635', 'u3748', 'u6604', 'u3991', 'u7347', 'u2913', 'u4870', 'u369', 'u8664', 'u458', 'u7481', 'u7756', 'u6353', 'u617', 'u5890', 'u7296', 'u6702', 'u3030', 'u1278', 'u5897', 'u2537', 'u3889', 'u561', 'u800', 'u8892', 'u6239', 'u4529', 'u6309', 'u2796', 'u3384', 'u8842', 'u8187', 'u4164', 'u24', 'u3698', 'u4379', 'u5950', 'u6207', 'u4454', 'u5478', 'u4814', 'u5390', 'u5280', 'u2284', 'u5537', 'u7627', 'u4207', 'u5475', 'u6662', 'u1386', 'u8459', 'u8661', 'u7050', 'u7991', 'u5966', 'u2917', 'u2806', 'u7419', 'u4886', 'u6124', 'u8347', 'u7315', 'u2868', 'u8856', 'u340', 'u57', 'u1021', 'u1225', 'u4223', 'u7969', 'u2417', 'u3831', 'u2430', 'u2949', 'u705', 'u223', 'u5809', 'u5170', 'u3222', 'u5206', 'u5694', 'u6034', 'u7904', 'u3056', 'u8915', 'u7420', 'u5954', 'u2630', 'u1554', 'u6893', 'u591', 'u2214', 'u8653', 'u8989', 'u53', 'u5824', 'u9014', 'u6319', 'u4100', 'u6569', 'u3286', 'u8727', 'u6312', 'u6255', 'u2181', 'u3613', 'u2990', 'u7763', 'u4001', 'u298', 'u1217', 'u8393', 'u6743', 'u7509', 'u4762', 'u2359', 'u2781', 'u7575', 'u7052', 'u7253', 'u3269', 'u2909', 'u7797', 'u2335', 'u1079', 'u6397', 'u1053', 'u3544', 'u7231', 'u8908', 'u3797', 'u1312', 'u2925', 'u2260', 'u1549', 'u3853', 'u7045', 'u7398', 'u4026', 'u3337', 'u5084', 'u283', 'u6969', 'u8371', 'u3815', 'u2391', 'u8711', 'u4392', 'u6088', 'u6806', 'u8003', 'u2187', 'u8343', 'u6076', 'u381', 'u2954', 'u8386', 'u7263', 'u2180', 'u2973', 'u6866', 'u5832', 'u1009', 'u4403', 'u2075', 'u7749', 'u2727', 'u8220', 'u5851', 'u2602', 'u1129', 'u203', 'u7595', 'u4357', 'u8294', 'u7495', 'u437', 'u4670', 'u8128', 'u631', 'u5274', 'u6457', 'u7301', 'u2883', 'u4200', 'u6030', 'u5872', 'u1158', 'u4276', 'u5892', 'u8441', 'u3423', 'u3978', 'u8068', 'u5256', 'u3674', 'u4142', 'u486', 'u2597', 'u6310', 'u5255', 'u6509', 'u4621', 'u6670', 'u4680', 'u4883', 'u7689', 'u2096', 'u1857', 'u438', 'u1099', 'u6186', 'u7407', 'u5291', 'u530', 'u6421', 'u5935', 'u5479', 'u8562', 'u6023', 'u7181', 'u7623', 'u4442', 'u7214', 'u4607', 'u774', 'u4496', 'u3300', 'u633', 'u6042', 'u7519', 'u2479', 'u4938', 'u6942', 'u5777', 'u3959', 'u5569', 'u8649', 'u1902', 'u7228', 'u4809', 'u8731', 'u7771', 'u2468', 'u3733', 'u6408', 'u7973', 'u6516', 'u7793', 'u1270', 'u8886', 'u2566', 'u4820', 'u3898', 'u7592', 'u8330', 'u350', 'u7266', 'u2561', 'u3620', 'u6902', 'u2246', 'u4297', 'u3060', 'u8995', 'u6474', 'u3679', 'u3795', 'u4799', 'u1606', 'u3350', 'u1055', 'u2862', 'u7984', 'u6265', 'u655', 'u6479', 'u5468', 'u860', 'u4792', 'u8874', 'u1289', 'u4741', 'u6062', 'u6873', 'u587', 'u7396', 'u2970', 'u1271', 'u6984', 'u3202', 'u1667', 'u7093', 'u3949', 'u4608', 'u206', 'u2857', 'u6748', 'u6283', 'u3962', 'u2149', 'u6752', 'u6848', 'u7489', 'u1256', 'u3502', 'u1950', 'u6565', 'u3116', 'u2306', 'u32', 'u6519', 'u3085', 'u4213', 'u361', 'u4328', 'u7716', 'u7395', 'u6172', 'u1603', 'u305', 'u7906', 'u5536', 'u991', 'u2136', 'u7077', 'u3103', 'u8917', 'u4985', 'u8458', 'u6705', 'u1880', 'u6219', 'u2313', 'u8629', 'u1123', 'u1998', 'u3522', 'u2965', 'u8703', 'u3558', 'u8967', 'u5021', 'u8422', 'u5949', 'u3097', 'u5698', 'u7747', 'u4078', 'u6028', 'u4698', 'u6669', 'u2660', 'u6675', 'u3267', 'u2981', 'u8479', 'u2702', 'u5198', 'u4616', 'u6252', 'u3477', 'u8573', 'u7182', 'u5774', 'u1717', 'u8266', 'u1908', 'u3521', 'u836', 'u8346', 'u3464', 'u3839', 'u7313', 'u2311', 'u6732', 'u7795', 'u5960', 'u7782', 'u8037', 'u8436', 'u7183', 'u6069', 'u6197', 'u6939', 'u6946', 'u1789', 'u6678', 'u358', 'u6832', 'u6240', 'u5699', 'u3565', 'u823', 'u8402', 'u8428', 'u524', 'u8327', 'u4528', 'u2406', 'u1156', 'u7648', 'u7416', 'u4280', 'u1941', 'u2986', 'u2377', 'u4042', 'u3848', 'u4388', 'u770', 'u2195', 'u1689', 'u3471', 'u2273', 'u2251', 'u5995', 'u17', 'u1477', 'u7285', 'u6547', 'u4842', 'u2290', 'u4484', 'u8219', 'u3424', 'u1137', 'u4108', 'u8807', 'u5799', 'u5833', 'u6937', 'u3010', 'u4786', 'u1426', 'u3247', 'u4346', 'u975', 'u857', 'u2170', 'u1537', 'u2250', 'u3473', 'u7438', 'u8165', 'u3151', 'u3149', 'u3660', 'u8324', 'u5974', 'u2977', 'u6655', 'u372', 'u4628', 'u4882', 'u801', 'u3548', 'u2718', 'u7053', 'u3800', 'u6477', 'u1581', 'u5751', 'u1249', 'u7321', 'u1607', 'u6549', 'u2211', 'u4027', 'u5579', 'u2015', 'u3946', 'u2598', 'u8138', 'u5531', 'u3291', 'u7993', 'u8783', 'u6106', 'u5875', 'u8670', 'u5266', 'u6178', 'u2562', 'u5794', 'u648', 'u4191', 'u5836', 'u6061', 'u5384', 'u6790', 'u7708', 'u4632', 'u1423', 'u7297', 'u7205', 'u5485', 'u491', 'u9026', 'u4845', 'u6234', 'u2002', 'u3653', 'u3854', 'u1727', 'u549', 'u159', 'u8910', 'u8597', 'u4285', 'u8425', 'u4873', 'u4048', 'u5736', 'u1921', 'u790', 'u8608', 'u2832', 'u8875', 'u809', 'u5681', 'u133', 'u3130', 'u4580', 'u3975', 'u8454', 'u2886', 'u4186', 'u2607', 'u906', 'u5186', 'u8212', 'u719', 'u1378', 'u2555', 'u5308', 'u8605', 'u3462', 'u6261', 'u1878', 'u2449', 'u4389', 'u688', 'u4488', 'u7271', 'u3624', 'u8766', 'u1383', 'u6685', 'u3769', 'u9011', 'u226', 'u7038', 'u7670', 'u4018', 'u4448', 'u5432', 'u2823', 'u7087', 'u3364', 'u3821', 'u5023', 'u342', 'u5559', 'u8452', 'u5566', 'u3084', 'u5460', 'u4106', 'u3810', 'u3726', 'u219', 'u4888', 'u5908', 'u4599', 'u5677', 'u3776', 'u6798', 'u1466', 'u5261', 'u8616', 'u2142', 'u8603', 'u3594', 'u7591', 'u2772', 'u8384', 'u3133', 'u1851', 'u8000', 'u7191', 'u7596', 'u3740', 'u1438', 'u3665', 'u5734', 'u4519', 'u5176', 'u4981', 'u3463', 'u8344', 'u5913', 'u3609', 'u2870', 'u2989', 'u6972', 'u4800', 'u527', 'u1973', 'u2301', 'u625', 'u7501', 'u1816', 'u5233', 'u6796', 'u1465', 'u1290', 'u4114', 'u3860', 'u3377', 'u5421', 'u7740', 'u6988', 'u3573', 'u4264', 'u258', 'u301', 'u5385', 'u6193', 'u7874', 'u8392', 'u6396', 'u7084', 'u8339', 'u6338', 'u8667', 'u4696', 'u3343', 'u7681', 'u7583', 'u7174', 'u2116', 'u6582', 'u3799', 'u8098', 'u630', 'u5651', 'u4695', 'u7606', 'u687', 'u2300', 'u8129', 'u6448', 'u2060', 'u3165', 'u981', 'u3432', 'u3824', 'u6311', 'u7455', 'u7679', 'u654', 'u8852', 'u1766', 'u4172', 'u22', 'u5502', 'u3360', 'u960', 'u245', 'u5646', 'u3401', 'u5068', 'u8952', 'u7737', 'u2087', 'u4747', 'u4047', 'u2753', 'u7157', 'u435', 'u4162', 'u8464', 'u8296', 'u8997', 'u5659', 'u8423', 'u3621', 'u4111', 'u7172', 'u551', 'u6894', 'u3170', 'u8708', 'u5045', 'u2091', 'u4853', 'u3789', 'u1007', 'u5743', 'u7743', 'u2302', 'u3762', 'u4243', 'u6282', 'u394', 'u4521', 'u5505', 'u2039', 'u4629', 'u2676', 'u963', 'u3037', 'u3223', 'u6052', 'u3723', 'u6508', 'u1970', 'u183', 'u907', 'u2446', 'u3040', 'u1775', 'u5884', 'u2915', 'u1485', 'u8373', 'u3743', 'u2259', 'u4217', 'u6725', 'u6680', 'u6388', 'u5630', 'u1872', 'u7476', 'u5714', 'u8669', 'u3422', 'u6928', 'u3287', 'u662', 'u660', 'u3668', 'u8706', 'u5307', 'u842', 'u3381', 'u51', 'u3227', 'u8775', 'u2565', 'u8881', 'u2549', 'u6132', 'u1385', 'u7192', 'u3484', 'u3691', 'u3507', 'u4564', 'u6339', 'u1331', 'u1714', 'u5701', 'u7065', 'u8571', 'u172', 'u215', 'u7630', 'u3445', 'u8309', 'u2740', 'u6784', 'u209', 'u6304', 'u1710', 'u3720', 'u533', 'u4700', 'u4248', 'u2439', 'u324', 'u7097', 'u4426', 'u8804', 'u8512', 'u6066', 'u3846', 'u5812', 'u5910', 'u7971', 'u4561', 'u6458', 'u3596', 'u7300', 'u2332', 'u6389', 'u7338', 'u3029', 'u1026', 'u6151', 'u1462', 'u7090', 'u2049', 'u2891', 'u442', 'u3886', 'u7862', 'u2825', 'u5692', 'u8303', 'u7168', 'u46', 'u3904', 'u6505', 'u986', 'u5427', 'u6595', 'u6795', 'u1965', 'u4516', 'u5864', 'u1226', 'u210', 'u4625', 'u48', 'u2357', 'u1269', 'u8737', 'u1366', 'u9003', 'u1997', 'u7137', 'u3880', 'u3436', 'u8753', 'u7070', 'u8778', 'u3229', 'u5165', 'u964', 'u6390', 'u6422', 'u4227', 'u8975', 'u3968', 'u6235', 'u2376', 'u4655', 'u6202', 'u4123', 'u2194', 'u6762', 'u1140', 'u8021', 'u1795', 'u9032', 'u6908', 'u2773', 'u4850', 'u5934', 'u5449', 'u4319', 'u4793', 'u5429', 'u4742', 'u3281', 'u1492', 'u8660', 'u6910', 'u8007', 'u5985', 'u280', 'u5087', 'u3526', 'u1144', 'u3435', 'u8953', 'u7958', 'u8530', 'u346', 'u6884', 'u1445', 'u8537', 'u3491', 'u6380', 'u2767', 'u8890', 'u88', 'u8505', 'u8326', 'u973', 'u1542', 'u4783', 'u5027', 'u5631', 'u3534', 'u3169', 'u4173', 'u5474', 'u4549', 'u124', 'u3719', 'u4480', 'u140', 'u7714', 'u5696', 'u4550', 'u5927', 'u1713', 'u8983', 'u6445', 'u7508', 'u5589', 'u1822', 'u2624', 'u761', 'u7605', 'u8806', 'u1393', 'u1442', 'u1300', 'u5819', 'u1464', 'u5590', 'u6911', 'u2232', 'u4692', 'u6286', 'u971', 'u4559', 'u7200', 'u507', 'u5766', 'u8646', 'u5685', 'u355', 'u2650', 'u999', 'u6014', 'u6366', 'u5180', 'u2191', 'u194', 'u3867', 'u3470', 'u8390', 'u7647', 'u6327', 'u8868', 'u3840', 'u2509', 'u876', 'u321', 'u6869', 'u6423', 'u7350', 'u4436', 'u5260', 'u6313', 'u2153', 'u8337', 'u3077', 'u4932', 'u4113', 'u3278', 'u2662', 'u125', 'u7688', 'u1995', 'u277', 'u8035', 'u639', 'u6374', 'u4318', 'u5426', 'u720', 'u2097', 'u5207', 'u4918', 'u1613', 'u4536', 'u3619', 'u2140', 'u5787', 'u2855', 'u314', 'u2498', 'u386', 'u5816', 'u7006', 'u5464', 'u8648', 'u248', 'u3805', 'u2725', 'u5042', 'u3015', 'u1224', 'u8721', 'u6839', 'u2222', 'u1126', 'u76', 'u7781', 'u3783', 'u1491', 'u5608', 'u7639', 'u1114', 'u5740', 'u6336', 'u3941', 'u268', 'u1012', 'u865', 'u1347', 'u2759', 'u2619', 'u7075', 'u7109', 'u2515', 'u7246', 'u8351', 'u7259', 'u2206', 'u5402', 'u256', 'u5850', 'u6195', 'u6835', 'u408', 'u8897', 'u889', 'u2907', 'u544', 'u8547', 'u6463', 'u5465', 'u5050', 'u8210', 'u6600', 'u789', 'u2328', 'u4923', 'u1536', 'u3315', 'u136', 'u4277', 'u1841', 'u2758', 'u2867', 'u4232', 'u5700', 'u6592', 'u6709', 'u6086', 'u1260', 'u3579', 'u6181', 'u185', 'u1501', 'u5303', 'u6284', 'u7001', 'u8654', 'u4340', 'u8158', 'u5546', 'u6769', 'u1346', 'u6540', 'u6314', 'u6779', 'u891', 'u4801', 'u3441', 'u3936', 'u7550', 'u5543', 'u709', 'u1014', 'u7829', 'u7317', 'u3588', 'u2155', 'u8793', 'u6108', 'u4009', 'u3304', 'u117', 'u2212', 'u1253', 'u4138', 'u1681', 'u9005', 'u2978', 'u7067', 'u6823', 'u7778', 'u7511', 'u1390', 'u6999', 'u3802', 'u1196', 'u1533', 'u8108', 'u1673', 'u7099', 'u1242', 'u6686', 'u5944', 'u5248', 'u7194', 'u481', 'u6766', 'u1371', 'u3903', 'u7129', 'u7479', 'u5324', 'u4716', 'u7654', 'u6661', 'u7445', 'u2960', 'u7785', 'u8972', 'u86', 'u4456', 'u7859', 'u1860', 'u5070', 'u7866', 'u2407', 'u7752', 'u1488', 'u4360', 'u4069', 'u5150', 'u6917', 'u4919', 'u5121', 'u3469', 'u673', 'u1842', 'u5639', 'u7857', 'u2539', 'u5624', 'u3262', 'u7555', 'u263', 'u8087', 'u946', 'u4861', 'u1521', 'u7626', 'u627', 'u3598', 'u6209', 'u5277', 'u3187', 'u4650', 'u1966', 'u1988', 'u464', 'u3538', 'u759', 'u5654', 'u3236', 'u6900', 'u2911', 'u3966', 'u3634', 'u8044', 'u7401', 'u1531', 'u3759', 'u787', 'u5013', 'u3069', 'u6640', 'u5453', 'u7570', 'u4294', 'u7028', 'u598', 'u5272', 'u1471', 'u5113', 'u8102', 'u6451', 'u4825', 'u2669', 'u5155', 'u7753', 'u7451', 'u7299', 'u7035', 'u4289', 'u4532', 'u7482', 'u3361', 'u3992', 'u1566', 'u1175', 'u2726', 'u4591', 'u1818', 'u1621', 'u4804', 'u9024', 'u2552', 'u4446', 'u2710', 'u1056', 'u4187', 'u3385', 'u7143', 'u4452', 'u1206', 'u2443', 'u1167', 'u31', 'u8047', 'u7498', 'u4146', 'u5903', 'u4701', 'u7108', 'u4881', 'u644', 'u1732', 'u7421', 'u8787', 'u7282', 'u4457', 'u8008', 'u5031', 'u8942', 'u2093', 'u5033', 'u8281', 'u3021', 'u3761', 'u8576', 'u2994', 'u466', 'u965', 'u621', 'u7456', 'u5458', 'u784', 'u8117', 'u5886', 'u555', 'u7091', 'u8888', 'u7007', 'u3064', 'u2582', 'u8582', 'u3751', 'u6175', 'u537', 'u2659', 'u4406', 'u1944', 'u7951', 'u2491', 'u2707', 'u3449', 'u4636', 'u5509', 'u6905', 'u2827', 'u7131', 'u7887', 'u7636', 'u8432', 'u7790', 'u4586', 'u160', 'u3963', 'u3363', 'u4483', 'u8556', 'u2444', 'u2733', 'u328', 'u7164', 'u1735', 'u1324', 'u1104', 'u1659', 'u3515', 'u3563', 'u7819', 'u3221', 'u4273', 'u5283', 'u4158', 'u2926', 'u8078', 'u7804', 'u8058', 'u8093', 'u3454', 'u8791', 'u2321', 'u7185', 'u6707', 'u6590', 'u8799', 'u3242', 'u5082', 'u7132', 'u581', 'u837', 'u5127', 'u5484', 'u5831', 'u6147', 'u4410', 'u7757', 'u4053', 'u2345', 'u61', 'u1134', 'u3095', 'u602', 'u4275', 'u5926', 'u8293', 'u4683', 'u3693', 'u1098', 'u5647', 'u8113', 'u4493', 'u8745', 'u7281', 'u7269', 'u7923', 'u657', 'u3636', 'u3960', 'u2631', 'u5813', 'u7490', 'u7397', 'u4619', 'u3627', 'u5175', 'u190', 'u5557', 'u443', 'u2683', 'u3929', 'u3006', 'u6091', 'u8085', 'u8673', 'u8827', 'u7233', 'u979', 'u2983', 'u7577', 'u6022', 'u8999', 'u2771', 'u1296', 'u3263', 'u5680', 'u8610', 'u7322', 'u3757', 'u1777', 'u3411', 'u426', 'u2235', 'u5641', 'u5893', 'u2179', 'u4246', 'u2440', 'u1544', 'u5564', 'u2282', 'u8574', 'u6699', 'u7244', 'u2640', 'u3431', 'u8515', 'u7745', 'u284', 'u6510', 'u7359', 'u1302', 'u5060', 'u2953', 'u698', 'u1657', 'u5871', 'u4320', 'u1506', 'u4526', 'u908', 'u2373', 'u4419', 'u8884', 'u5044', 'u8382', 'u7179', 'u4678', 'u2824', 'u4447', 'u6495', 'u940', 'u5967', 'u6465', 'u3881', 'u8473', 'u6825', 'u5254', 'u3257', 'u8056', 'u1793', 'u4916', 'u3295', 'u2656', 'u7699', 'u3896', 'u2822', 'u6627', 'u8788', 'u6586', 'u8625', 'u5717', 'u4152', 'u8073', 'u7459', 'u6211', 'u3553', 'u2842', 'u8494', 'u318', 'u2133', 'u5679', 'u3359', 'u1461', 'u951', 'u3974', 'u3597', 'u6263', 'u8861', 'u7346', 'u2787', 'u8369', 'u2353', 'u2029', 'u2799', 'u1489', 'u3851', 'u3397', 'u6935', 'u4193', 'u3375', 'u1805', 'u304', 'u3804', 'u4036', 'u5845', 'u7660', 'u5017', 'u1815', 'u7196', 'u4244', 'u6394', 'u970', 'u2233', 'u4905', 'u8626', 'u4109', 'u8480', 'u7918', 'u8528', 'u7027', 'u2684', 'u2398', 'u4072', 'u760', 'u1336', 'u7015', 'u156', 'u2626', 'u5705', 'u7836', 'u1208', 'u6933', 'u5106', 'u4922', 'u3584', 'u8166', 'u6032', 'u96', 'u1828', 'u2533', 'u3224', 'u94', 'u4523', 'u7827', 'u8152', 'u6046', 'u7140', 'u4422', 'u2168', 'u1309', 'u1797', 'u8234', 'u8404', 'u2775', 'u1495', 'u2930', 'u3404', 'u3651', 'u949', 'u3336', 'u8249', 'u2390', 'u91', 'u1494', 'u499', 'u6153', 'u5763', 'u5969', 'u8925', 'u8478', 'u7733', 'u2677', 'u8992', 'u5580', 'u118', 'u7810', 'u2349', 'u4755', 'u2068', 'u6452', 'u6513', 'u5583', 'u196', 'u8460', 'u8584', 'u791', 'u2336', 'u3547', 'u7405', 'u5133', 'u389', 'u430', 'u1709', 'u70', 'u1869', 'u5096', 'u1671', 'u405', 'u4336', 'u6133', 'u3662', 'u1823', 'u2700', 'u1814', 'u6053', 'u5808', 'u2936', 'u1892', 'u6916', 'u4544', 'u7448', 'u2014', 'u3141', 'u6478', 'u6025', 'u4856', 'u4118', 'u3109', 'u7989', 'u6923', 'u8305', 'u3999', 'u81', 'u1136', 'u8544', 'u7742', 'u588', 'u1353', 'u3836', 'u4740', 'u6369', 'u2955', 'u6504', 'u2402', 'u987', 'u3645', 'u7399', 'u8814', 'u8568', 'u8357', 'u6491', 'u7441', 'u167', 'u1410', 'u1938', 'u651', 'u2875', 'u5423', 'u4955', 'u5169', 'u3246', 'u4736', 'u9006', 'u844', 'u8438', 'u6518', 'u7551', 'u6573', 'u6288', 'u6210', 'u8416', 'u8172', 'u3915', 'u1443', 'u5091', 'u1421', 'u2458', 'u2166', 'u4822', 'u7430', 'u2590', 'u7176', 'u293', 'u8094', 'u241', 'u8125', 'u3697', 'u693', 'u5702', 'u1030', 'u8692', 'u7858', 'u2027', 'u6329', 'u4019', 'u5276', 'u1391', 'u1031', 'u6111', 'u3825', 'u5086', 'u5576', 'u813', 'u7669', 'u5191', 'u2880', 'u6180', 'u829', 'u2890', 'u974', 'u6994', 'u7096', 'u5104', 'u6681', 'u179', 'u2178', 'u6056', 'u4159', 'u7444', 'u474', 'u8913', 'u1072', 'u63', 'u2594', 'u1526', 'u3737', 'u411', 'u8361', 'u5769', 'u7314', 'u1791', 'u477', 'u6528', 'u8877', 'u3928', 'u4959', 'u3004', 'u6759', 'u5043', 'u4269', 'u2283', 'u2164', 'u6740', 'u5956', 'u1211', 'u8503', 'u5797', 'u1773', 'u2465', 'u7727', 'u8790', 'u3490', 'u8486', 'u2347', 'u5852', 'u1293', 'u3388', 'u6511', 'u8707', 'u4430', 'u5784', 'u2344', 'u3688', 'u1344', 'u7092', 'u2006', 'u162', 'u7604', 'u3826', 'u1204', 'u1183', 'u1723', 'u8328', 'u8385', 'u5947', 'u2877', 'u6948', 'u3774', 'u5056', 'u7600', 'u3399', 'u8993', 'u6024', 'u5154', 'u3310', 'u7208', 'u2769', 'u1113', 'u1315', 'u2322', 'u4962', 'u6290', 'u7287', 'u4234', 'u4228', 'u7119', 'u3676', 'u5907', 'u3355', 'u8620', 'u8225', 'u418', 'u1821', 'u4469', 'u6533', 'u4344', 'u6788', 'u5315', 'u3687', 'u1298', 'u2240', 'u8012', 'u7339', 'u2383', 'u6895', 'u2167', 'u6335', 'u1400', 'u2689', 'u6355', 'u7625', 'u7218', 'u8541', 'u4657', 'u487', 'u75', 'u54', 'u5818', 'u7273', 'u7036', 'u6003', 'u5789', 'u249', 'u6676', 'u7762', 'u8276', 'u7759', 'u8070', 'u2044', 'u7876', 'u3910', 'u937', 'u550', 'u5858', 'u3272', 'u6048', 'u3027', 'u4179', 'u4890', 'u4479', 'u3396', 'u936', 'u6668', 'u1470', 'u8039', 'u4517', 'u8340', 'u2358', 'u2069', 'u5178', 'u8583', 'u1528', 'u5617', 'u2281', 'u2342', 'u2540', 'u2219', 'u7947', 'u217', 'u1780', 'u2739', 'u856', 'u6102', 'u281', 'u8569', 'u4665', 'u8109', 'u20', 'u3166', 'u1096', 'u8499', 'u83', 'u3210', 'u4439', 'u6824', 'u225', 'u2459', 'u7665', 'u500', 'u7711', 'u7033', 'u4976', 'u7841', 'u3685', 'u6863', 'u5885', 'u4633', 'u1737', 'u2517', 'u1809', 'u2608', 'u5196', 'u1682', 'u3537', 'u8798', 'u7290', 'u5275', 'u4380', 'u8227', 'u8214', 'u7571', 'u7807', 'u3415', 'u3444', 'u3632', 'u4056', 'u5633', 'u1022', 'u3489', 'u6117', 'u6856', 'u7150', 'u4425', 'u8672', 'u1354', 'u3452', 'u5817', 'u6070', 'u2948', 'u508', 'u8599', 'u3617', 'u7846', 'u2108', 'u4304', 'u2810', 'u7043', 'u8159', 'u2125', 'u332', 'u1193', 'u5490', 'u8298', 'u3684', 'u8270', 'u6577', 'u4184', 'u1817', 'u4748', 'u5671', 'u5609', 'u798', 'u738', 'u7270', 'u3053', 'u6554', 'u470', 'u3184', 'u1013', 'u8615', 'u1073', 'u436', 'u7854', 'u3637', 'u6831', 'u4224', 'u6363', 'u8042', 'u4044', 'u835', 'u5665', 'u5513', 'u3914', 'u341', 'u8507', 'u1508', 'u7835', 'u8943', 'u1509', 'u900', 'u1771', 'u1570', 'u5688', 'u2734', 'u5607', 'u5326', 'u7256', 'u5467', 'u1083', 'u6966', 'u1923', 'u8758', 'u4970', 'u5835', 'u5920', 'u49', 'u2072', 'u8543', 'u368', 'u3325', 'u2277', 'u6737', 'u4177', 'u379', 'u4126', 'u3872', 'u7581', 'u4739', 'u7272', 'u2529', 'u199', 'u7134', 'u5952', 'u6429', 'u2031', 'u6804', 'u3176'

In [965]:
##When we remove the lId we may see charaters repeating dialogues  
lines_df_mod = lines_df[['chId', 'mId', 'chName', 'chLine']]

# Remove duplicate rows
duplicate_counts = lines_df_mod.duplicated().sum()
print("Total Number Of Duplicates: ", duplicate_counts)
if duplicate_counts > 0:
   lines_df_mod = lines_df_mod.drop_duplicates()
   
lines_df_mod.shape

Total Number Of Duplicates:  5438

(283182, 4)

In [966]:
df = detailed_characters_df.merge(lines_df_mod, on=['chId', 'mId'], how='inner')
df.head()

,chId,chName_x,mId,mName,gender,posCredits,mYear,mRating,mVotes,mGenre,chName_y,chLine
0,u0,BIANCA,m0,10 things i hate about you,F,4,1999,6.9,62847.0,['comedy' 'romance'],BIANCA,They do not!
1,u0,BIANCA,m0,10 things i hate about you,F,4,1999,6.9,62847.0,['comedy' 'romance'],BIANCA,I hope so.
2,u0,BIANCA,m0,10 things i hate about you,F,4,1999,6.9,62847.0,['comedy' 'romance'],BIANCA,Let's go.
3,u0,BIANCA,m0,10 things i hate about you,F,4,1999,6.9,62847.0,['comedy' 'romance'],BIANCA,Okay -- you're gonna need to learn how to lie.
4,u0,BIANCA,m0,10 things i hate about you,F,4,1999,6.9,62847.0,['comedy' 'romance'],BIANCA,Like my fear of wearing pastels?

In [967]:
# Filter rows where chName_x does not match chName_y
mismatched_names_df = df[df['chName_x'] != df['chName_y']]

# Display the rows with mismatched names
print("Rows with mismatched chName_x and chName_y:")
print(mismatched_names_df)

Rows with mismatched chName_x and chName_y:
Empty DataFrame
Columns: [chId, chName_x, mId, mName, gender, posCredits, mYear, mRating, mVotes, mGenre, chName_y, chLine]
Index: []

In [968]:
df['chName'] = df['chName_x']
df = df.drop(['chName_y','chName_x'], axis=1)
df.head()

,chId,mId,mName,gender,posCredits,mYear,mRating,mVotes,mGenre,chLine,chName
0,u0,m0,10 things i hate about you,F,4,1999,6.9,62847.0,['comedy' 'romance'],They do not!,BIANCA
1,u0,m0,10 things i hate about you,F,4,1999,6.9,62847.0,['comedy' 'romance'],I hope so.,BIANCA
2,u0,m0,10 things i hate about you,F,4,1999,6.9,62847.0,['comedy' 'romance'],Let's go.,BIANCA
3,u0,m0,10 things i hate about you,F,4,1999,6.9,62847.0,['comedy' 'romance'],Okay -- you're gonna need to learn how to lie.,BIANCA
4,u0,m0,10 things i hate about you,F,4,1999,6.9,62847.0,['comedy' 'romance'],Like my fear of wearing pastels?,BIANCA

In [969]:
nan_percentage = (df.isna().mean() * 100).round(2)
print(nan_percentage)

chId          0.0
mId           0.0
mName         0.0
gender        0.0
posCredits    0.0
mYear         0.0
mRating       0.0
mVotes        0.0
mGenre        0.0
chLine        0.0
chName        0.0
dtype: float64

In [970]:
# Remove duplicate rows
duplicate_counts = df.duplicated().sum()
print("Total Number Of Duplicates: ", duplicate_counts)
if duplicate_counts > 0:
   df = df.drop_duplicates()
df.shape

Total Number Of Duplicates:  0

(224203, 11)

In [971]:
##Get the number of unique dialogues spoken by each characters.
df['dialoguesCount'] = df.groupby(['chId', 'mId'])['chLine'].transform('count')

##Get the number of characters per dialogue
df['charCountPerDialogue'] = df.chLine.str.len()

##Get the number of words per dialogue
df['wordCountPerDialogue'] = df.chLine.str.count(' ') + 1

In [972]:
df.head()

,chId,mId,mName,gender,posCredits,mYear,mRating,mVotes,mGenre,chLine,chName,dialoguesCount,charCountPerDialogue,wordCountPerDialogue
0,u0,m0,10 things i hate about you,F,4,1999,6.9,62847.0,['comedy' 'romance'],They do not!,BIANCA,92,12,3
1,u0,m0,10 things i hate about you,F,4,1999,6.9,62847.0,['comedy' 'romance'],I hope so.,BIANCA,92,10,3
2,u0,m0,10 things i hate about you,F,4,1999,6.9,62847.0,['comedy' 'romance'],Let's go.,BIANCA,92,9,2
3,u0,m0,10 things i hate about you,F,4,1999,6.9,62847.0,['comedy' 'romance'],Okay -- you're gonna need to learn how to lie.,BIANCA,92,46,10
4,u0,m0,10 things i hate about you,F,4,1999,6.9,62847.0,['comedy' 'romance'],Like my fear of wearing pastels?,BIANCA,92,32,6