**Import Section**

Importing relavent packages for the project.

Note: We will ignore warnings for simplicity.

In [358]:
import numpy as py
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

**Creating initial dataframes**

Following files are available for the project:

1. movie_characters_metadata.tsv
2. movie_conversations.tsv
3. movie_lines.tsv
4. movie_titles_metadata.tsv
5. raw_script_urls


Here are the list of initial dataframes for the respective files:
1. characters_df
2. conversations_df
3. lines_df
4. titles_df
5. rawScript_df


General File Features:
1. Files are tab seperated ('\t').
2. There is no header or footers in any of the files.
3. Few bad rows are present in the files. These rows will be dropped while dataframe creation.

In [427]:
##Creating characters_df dataframe from movie_characters_metadata.tsv

column_names = ['chId', 'chName', 'mId', 'mName', 'gender', 'posCredits']
characters_df = pd.read_csv('movie_characters_metadata.tsv', sep='\t', header=None, names=column_names, on_bad_lines='skip')
print("SUCESS : 'characters_df' dataframe created from 'movie_characters_metadata.tsv'\n")
print('Here is a snapshot of data')
characters_df.head()

SUCESS : 'characters_df' dataframe created from 'movie_characters_metadata.tsv'

Here is a snapshot of data

  chId    chName mId                       mName gender posCredits
0   u0    BIANCA  m0  10 things i hate about you      f          4
1   u1     BRUCE  m0  10 things i hate about you      ?          ?
2   u2   CAMERON  m0  10 things i hate about you      m          3
3   u3  CHASTITY  m0  10 things i hate about you      ?          ?
4   u4      JOEY  m0  10 things i hate about you      m          6

In [416]:
print("Dimension & metadata of characters_df",characters_df.shape)
print(characters_df.info())

Dimension & metadata of characters_df (9034, 6)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9034 entries, 0 to 9033
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   chId        9034 non-null   object
 1   chName      9015 non-null   object
 2   mId         9017 non-null   object
 3   mName       9017 non-null   object
 4   gender      9017 non-null   object
 5   posCredits  9017 non-null   object
dtypes: object(6)
memory usage: 423.6+ KB
None

In [423]:
##Checking on the percentage of NaN for each column in the dataframe

nan_percentage = (characters_df.isna().mean() * 100).round(2)
print("Distribution Of NaN across dataframe")
print(nan_percentage)

Distribution Of NaN across dataframe
chId          0.00
chName        0.21
mId           0.19
mName         0.19
gender        0.19
posCredits    0.19
dtype: float64

In [362]:
# Removing rows with NaN values
characters_df = characters_df.dropna()

In [363]:
# Remove duplicate rows
duplicate_counts = characters_df.duplicated().sum()
print("Total duplicate", duplicate_counts)
if duplicate_counts > 0:
  characters_df = characters_df.drop_duplicates()

Total duplicate 0

**Data Cleansing: Removing Ambiguity From The Column Gender**

In this project we are dividing gender to two groups "Male" (M) & "Female" (F). 

However during the initial data analysis, it is identified that 4 different types of values are available in the column gender('?', 'm', 'f', 'M'). On further investigation, it has been confirmed all gender where data is 'm' & 'M' belong to male class rest can be grouped as female.In this dataframe 'Male' class will be represented as 'M' & 'Female' class will be represented as 'F'.

In [364]:
##Count of values of each gender type
characters_df.gender.value_counts()

gender
?    6006
m    1899
f     921
M     145
F      44
Name: count, dtype: int64

In [425]:
##Removing data ambiguity from gender
characters_df = characters_df[characters_df.gender != '?']
characters_df.gender = characters_df.gender.apply(lambda g: 'M' if g in ['m', 'M'] else 'F')
print("Data Distribution Per Gender:")
characters_df.gender.value_counts()

Data Distribution Per Gender:

gender
M    2044
F     982
Name: count, dtype: int64

**Data Cleansing: Removing non-numeric values from the column posCredits**

As per the column defination, 'posCredits' is  numeric column containing the information of the position where the character features in the credits. Hence this cannot be non-numeric. 

As part of the cleansing strategy we will remove such rows as very such rows are available.

In [366]:
# Display the total count of non-numeric values
non_numeric_count = pd.to_numeric(characters_df['posCredits'], errors='coerce').isna().sum()
print("Total count of non-numeric values in 'posCredits' removed {}".format(non_numeric_count))

# Remove rows with non-numeric values in the specified column
characters_df = characters_df[pd.to_numeric(characters_df['posCredits'], errors='coerce').notna()]

Total count of non-numeric values in 'posCredits' removed 330

**Movie title Dataframe**

In [426]:
##Creating the dataframe : titles_df

column_names = ['mId', 'mName', 'mYear', 'mRating', 'mVotes', 'mGenre']
titles_df = pd.read_csv('movie_titles_metadata.tsv', sep='\t', names=column_names, header=None, on_bad_lines='skip')
print("SUCESS : 'titles_df' dataframe created from 'movie_titles_metadata.tsv'\n")
print('Here is a snapshot of data')
titles_df.head()

SUCESS : 'titles_df' dataframe created from 'movie_titles_metadata.tsv'

Here is a snapshot of data

,mId,mName,mYear,mRating,mVotes,mGenre
0,m0,10 things i hate about you,1999,6.9,62847.0,['comedy' 'romance']
1,m1,1492: conquest of paradise,1992,6.2,10421.0,['adventure' 'biography' 'drama' 'history']
2,m2,15 minutes,2001,6.1,25854.0,['action' 'crime' 'drama' 'thriller']
3,m3,2001: a space odyssey,1968,8.4,163227.0,['adventure' 'mystery' 'sci-fi']
4,m4,48 hrs.,1982,6.9,22289.0,['action' 'comedy' 'crime' 'drama' 'thriller']

In [368]:
print(titles_df.shape)
print(titles_df.info())

(617, 6)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 617 entries, 0 to 616
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   mId      617 non-null    object
 1   mName    616 non-null    object
 2   mYear    616 non-null    object
 3   mRating  616 non-null    float64
 4   mVotes   616 non-null    float64
 5   mGenre   616 non-null    object
dtypes: float64(2), object(4)
memory usage: 29.1+ KB
None

Removing rows with NAN

In [369]:
nan_percentage = (titles_df.isna().mean() * 100).round(2)
print(nan_percentage)

mId        0.00
mName      0.16
mYear      0.16
mRating    0.16
mVotes     0.16
mGenre     0.16
dtype: float64

In [370]:
# Remove rows with NaN values
titles_df = titles_df.dropna()

In [371]:
# Remove duplicate rows
duplicate_counts = titles_df.duplicated().sum()
print("Total Number of duplicate rows", duplicate_counts)
if duplicate_counts > 0:
  titles_df = titles_df.drop_duplicates()

Total Number of duplicate rows 0

No outier data found in numeric columns

In [372]:
titles_df.describe()

          mRating         mVotes
count  616.000000     616.000000
mean     6.865584   49901.698052
std      1.215463   61898.367352
min      2.500000       9.000000
25%      6.200000    9992.500000
50%      7.000000   27121.500000
75%      7.800000   66890.000000
max      9.300000  419312.000000

Extracting the year part from the column mYear

In [373]:
column_name = 'mYear' 

# Filter non-numeric values in the specified column
non_numeric_values = titles_df.loc[~pd.to_numeric(titles_df[column_name], errors='coerce').notna(), column_name]

# Get unique non-numeric values
unique_non_numeric_values = non_numeric_values.unique()

# Display the unique non-numeric values
print("Unique non-numeric values in column '{}':".format(column_name))
print(unique_non_numeric_values)

Unique non-numeric values in column 'mYear':
['1989/I' '1990/I' '1995/I' '1998/I' '2004/I' '2007/I' '1992/I' '2005/I'
 '2002/I' '1968/I' '1996/I' '2000/I' '2009/I' '2003/I']

In [374]:
column_name = 'mYear'

# Extract numeric portion using regular expression
titles_df[column_name] = titles_df[column_name].str.extract('(\d+)', expand=False)
titles_df[column_name] = titles_df[column_name].astype(int)

In [375]:
titles_df.head()

,mId,mName,mYear,mRating,mVotes,mGenre
0,m0,10 things i hate about you,1999,6.9,62847.0,['comedy' 'romance']
1,m1,1492: conquest of paradise,1992,6.2,10421.0,['adventure' 'biography' 'drama' 'history']
2,m2,15 minutes,2001,6.1,25854.0,['action' 'crime' 'drama' 'thriller']
3,m3,2001: a space odyssey,1968,8.4,163227.0,['adventure' 'mystery' 'sci-fi']
4,m4,48 hrs.,1982,6.9,22289.0,['action' 'comedy' 'crime' 'drama' 'thriller']

Movie Lines

In [376]:
column_names = ['lId', 'chId', 'mId', 'chName', 'chLine']
lines_df = pd.read_csv('movie_lines.tsv', sep='\t', header=None,names=column_names, on_bad_lines='skip')
lines_df.head()

     lId chId mId   chName        chLine
0  L1045   u0  m0   BIANCA  They do not!
1  L1044   u2  m0  CAMERON   They do to!
2   L985   u0  m0   BIANCA    I hope so.
3   L984   u2  m0  CAMERON     She okay?
4   L925   u0  m0   BIANCA     Let's go.

In [377]:
print(lines_df.shape)
print(lines_df.info())

(293202, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293202 entries, 0 to 293201
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   lId     293202 non-null  object
 1   chId    288917 non-null  object
 2   mId     288917 non-null  object
 3   chName  288874 non-null  object
 4   chLine  288663 non-null  object
dtypes: object(5)
memory usage: 11.2+ MB
None

In [378]:
nan_percentage = (lines_df.isna().mean() * 100).round(2)
print(nan_percentage)

lId       0.00
chId      1.46
mId       1.46
chName    1.48
chLine    1.55
dtype: float64

In [379]:
lines_df = lines_df.dropna()

In [380]:
# Remove duplicate rows
duplicate_counts = lines_df.duplicated().sum()
print("Total duplicates: ",duplicate_counts)
if duplicate_counts > 0:
  lines_df = lines_df.drop_duplicates()

Total duplicates:  0

In [381]:
print(lines_df.shape)

(288620, 5)

In [382]:
column_names = ['chId1', 'chId2','mId', 'lineList']
conversations_df = pd.read_csv('movie_conversations.tsv', sep='\t',names=column_names, header=None, on_bad_lines='skip')
conversations_df.head()

  chId1 chId2 mId                       lineList
0    u0    u2  m0  ['L194' 'L195' 'L196' 'L197']
1    u0    u2  m0                ['L198' 'L199']
2    u0    u2  m0  ['L200' 'L201' 'L202' 'L203']
3    u0    u2  m0         ['L204' 'L205' 'L206']
4    u0    u2  m0                ['L207' 'L208']

In [383]:
nan_percentage = (conversations_df.isna().mean() * 100).round(2)
print(nan_percentage)

chId1       0.0
chId2       0.0
mId         0.0
lineList    0.0
dtype: float64

In [384]:
# Remove duplicate rows
duplicate_counts = lines_df.duplicated().sum()
print("Total Number Of Duplicates: ", duplicate_counts)
if duplicate_counts > 0:
  lines_df = lines_df.drop_duplicates()

Total Number Of Duplicates:  0

In [385]:
conversations_df.shape

(83097, 4)

In [386]:
conversations_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83097 entries, 0 to 83096
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   chId1     83097 non-null  object
 1   chId2     83097 non-null  object
 2   mId       83097 non-null  object
 3   lineList  83097 non-null  object
dtypes: object(4)
memory usage: 2.5+ MB

In [387]:
column_names = ['mId','mName','url']
rawScript_df = pd.read_csv('raw_script_urls.tsv', sep='\t', names=column_names, header=None,on_bad_lines='skip')
rawScript_df.head()

,mId,mName,url
0,m0,10 things i hate about you,http://www.dailyscript.com/scripts/10Things.html
1,m1,1492: conquest of paradise,http://www.hundland.org/scripts/1492-ConquestO...
2,m2,15 minutes,http://www.dailyscript.com/scripts/15minutes.html
3,m3,2001: a space odyssey,http://www.scifiscripts.com/scripts/2001.txt
4,m4,48 hrs.,http://www.awesomefilm.com/script/48hours.txt

In [388]:
rawScript_df.shape

(617, 3)

In [389]:
nan_percentage = (rawScript_df.isna().mean() * 100).round(2)
print(nan_percentage)

mId      0.00
mName    0.16
url      0.16
dtype: float64

In [390]:
# Remove rows with NaN values
rawScript_df = rawScript_df.dropna()

In [391]:
# Remove duplicate rows
duplicate_counts = rawScript_df.duplicated().sum()
print("Total Number Of Duplicates: ", duplicate_counts)
if duplicate_counts > 0:
  rawScript_df = rawScript_df.drop_duplicates()

Total Number Of Duplicates:  0

In [392]:
rawScript_df.shape

(616, 3)

Here are the list of initial dataframes:
1. characters_df
2. titles_df
3. conversations_df
4. rawScript_df
5. lines_df

In [393]:
unique_movies_count = characters_df['mId'].nunique()
print("Number of unique movies:", unique_movies_count)

Number of unique movies: 569

In [394]:
# Movies in titles_df but not in characters_df
movies_in_titles_not_in_characters = set(titles_df['mId']) - set(characters_df['mId'])

# Movies in characters_df but not in titles_df
movies_in_characters_not_in_titles = set(characters_df['mId']) - set(titles_df['mId'])

# Convert the sets to lists for easier handling or further analysis
movies_in_titles_not_in_characters_list = list(movies_in_titles_not_in_characters)
movies_in_characters_not_in_titles_list = list(movies_in_characters_not_in_titles)

print("Movies in titles_df but not in characters_df:", movies_in_titles_not_in_characters_list)
print("Movies in characters_df but not in titles_df:", movies_in_characters_not_in_titles_list)

Movies in titles_df but not in characters_df: ['m321', 'm588', 'm75', 'm457', 'm291', 'm600', 'm456', 'm412', 'm337', 'm273', 'm96', 'm338', 'm48', 'm602', 'm181', 'm614', 'm69', 'm364', 'm275', 'm593', 'm314', 'm120', 'm475', 'm565', 'm603', 'm270', 'm134', 'm388', 'm307', 'm115', 'm483', 'm406', 'm237', 'm236', 'm605', 'm430', 'm135', 'm536', 'm488', 'm308', 'm521', 'm484', 'm616', 'm251', 'm160', 'm535', 'm64']
Movies in characters_df but not in titles_df: []

In [395]:
detailed_characters_df = characters_df.merge(titles_df[['mId', 'mYear', 'mRating', 'mVotes', 'mGenre']], on='mId', how='left')
print("Dimension Of Charaters Dataframe",characters_df.shape)
print("Dimension Of Merged Character Dataframe",detailed_characters_df.shape)
detailed_characters_df.head()

Dimension Of Charaters Dataframe (2679, 6)
Dimension Of Merged Character Dataframe (2679, 10)

,chId,chName,mId,mName,gender,posCredits,mYear,mRating,mVotes,mGenre
0,u0,BIANCA,m0,10 things i hate about you,F,4,1999,6.9,62847.0,['comedy' 'romance']
1,u2,CAMERON,m0,10 things i hate about you,M,3,1999,6.9,62847.0,['comedy' 'romance']
2,u4,JOEY,m0,10 things i hate about you,M,6,1999,6.9,62847.0,['comedy' 'romance']
3,u5,KAT,m0,10 things i hate about you,F,2,1999,6.9,62847.0,['comedy' 'romance']
4,u6,MANDELLA,m0,10 things i hate about you,F,7,1999,6.9,62847.0,['comedy' 'romance']

In [396]:
duplicate_counts = detailed_characters_df.duplicated().sum()
print("Total Number Of Duplicates: ", duplicate_counts)

Total Number Of Duplicates:  0

In [397]:
nan_percentage = (detailed_characters_df.isna().mean() * 100).round(2)
print(nan_percentage)

chId          0.0
chName        0.0
mId           0.0
mName         0.0
gender        0.0
posCredits    0.0
mYear         0.0
mRating       0.0
mVotes        0.0
mGenre        0.0
dtype: float64

In [398]:
# Characters in lines_df but not in detailed_characters_df
characters_in_lines_not_in_merged = set(lines_df['chId']) - set(detailed_characters_df['chId'])

# Characters in merged_df but not in lines_df
characters_in_merged_not_in_lines = set(detailed_characters_df['chId']) - set(lines_df['chId'])

# Convert the sets to lists for easier handling or further analysis
characters_in_lines_not_in_merged_list = list(characters_in_lines_not_in_merged)
characters_in_merged_not_in_lines_list = list(characters_in_merged_not_in_lines)

print("Characters in lines_df but not in detailed_characters_df:", characters_in_lines_not_in_merged_list)
print("Characters in detailed_characters_df but not in lines_df:", characters_in_merged_not_in_lines_list)

Characters in lines_df but not in detailed_characters_df: ['u4377', 'u14', 'u1560', 'u2631', 'u4767', 'u133', 'u3827', 'u211', 'u8478', 'u4308', 'u3577', 'u458', 'u5762', 'u7487', 'u7444', 'u4813', 'u2896', 'u8691', 'u491', 'u5046', 'u2676', 'u2468', 'u8920', 'u2239', 'u8031', 'u5578', 'u3741', 'u2811', 'u7567', 'u995', 'u6120', 'u3554', 'u4482', 'u4825', 'u473', 'u3841', 'u1465', 'u6753', 'u3244', 'u627', 'u7140', 'u4798', 'u844', 'u1246', 'u5436', 'u8518', 'u4842', 'u5317', 'u368', 'u2484', 'u8459', 'u8294', 'u6472', 'u4793', 'u4729', 'u584', 'u7271', 'u6058', 'u2831', 'u8363', 'u8795', 'u8692', 'u146', 'u53', 'u6645', 'u4338', 'u3350', 'u5324', 'u7153', 'u2093', 'u7317', 'u7902', 'u2379', 'u4228', 'u4775', 'u8773', 'u4904', 'u577', 'u6743', 'u5645', 'u40', 'u187', 'u4206', 'u5533', 'u940', 'u9005', 'u4672', 'u6869', 'u7286', 'u4026', 'u8852', 'u3492', 'u2278', 'u561', 'u845', 'u8982', 'u2076', 'u4265', 'u762', 'u882', 'u8599', 'u903', 'u6478', 'u1403', 'u7090', 'u2007', 'u325', 'u3929', 'u1565', 'u4093', 'u6540', 'u8413', 'u8753', 'u4272', 'u7510', 'u3196', 'u5013', 'u8143', 'u543', 'u3734', 'u5128', 'u4070', 'u1256', 'u758', 'u3240', 'u4816', 'u2337', 'u1109', 'u5207', 'u7775', 'u7878', 'u693', 'u7967', 'u8423', 'u4306', 'u4508', 'u5405', 'u3643', 'u8995', 'u6181', 'u5974', 'u6366', 'u4511', 'u8507', 'u8924', 'u8474', 'u7689', 'u4966', 'u5266', 'u4670', 'u210', 'u4712', 'u6198', 'u2463', 'u8942', 'u6350', 'u5481', 'u1157', 'u5850', 'u2290', 'u7013', 'u3584', 'u1559', 'u1053', 'u5910', 'u1367', 'u2062', 'u554', 'u201', 'u2660', 'u1917', 'u5300', 'u6364', 'u1791', 'u7309', 'u8603', 'u6816', 'u3524', 'u5060', 'u1892', 'u3962', 'u8324', 'u1207', 'u5893', 'u2073', 'u3403', 'u4170', 'u5393', 'u692', 'u5047', 'u8320', 'u5475', 'u8649', 'u4053', 'u6708', 'u5127', 'u6372', 'u5824', 'u2380', 'u8817', 'u4044', 'u4674', 'u4497', 'u141', 'u1342', 'u8411', 'u506', 'u7794', 'u7960', 'u1802', 'u6738', 'u6014', 'u4818', 'u6390', 'u8981', 'u830', 'u1932', 'u6785', 'u8339', 'u2476', 'u1736', 'u2598', 'u4242', 'u5947', 'u5438', 'u1034', 'u1479', 'u831', 'u4185', 'u5877', 'u6694', 'u7601', 'u1274', 'u7304', 'u7740', 'u8608', 'u7035', 'u4120', 'u4629', 'u5493', 'u4967', 'u3858', 'u1371', 'u6212', 'u2242', 'u4464', 'u2156', 'u1927', 'u7746', 'u8166', 'u5619', 'u25', 'u8560', 'u245', 'u4829', 'u7627', 'u3588', 'u8908', 'u5122', 'u8997', 'u2871', 'u6360', 'u6528', 'u8998', 'u4189', 'u7191', 'u3740', 'u4526', 'u8001', 'u451', 'u7623', 'u994', 'u6562', 'u1052', 'u6925', 'u4406', 'u5480', 'u8936', 'u652', 'u6516', 'u343', 'u3817', 'u6547', 'u4532', 'u5836', 'u1411', 'u1811', 'u7420', 'u6594', 'u8595', 'u2624', 'u2491', 'u1402', 'u6923', 'u4568', 'u7626', 'u3748', 'u5510', 'u8388', 'u6573', 'u2781', 'u225', 'u8161', 'u1579', 'u1168', 'u8267', 'u6726', 'u4382', 'u4474', 'u8436', 'u1105', 'u6117', 'u4676', 'u8654', 'u1664', 'u7654', 'u4327', 'u2181', 'u3267', 'u8655', 'u3151', 'u8010', 'u6582', 'u6422', 'u423', 'u2664', 'u3202', 'u1721', 'u7587', 'u1304', 'u4355', 'u3537', 'u5012', 'u4792', 'u6825', 'u6498', 'u7390', 'u977', 'u7839', 'u538', 'u3298', 'u8270', 'u4861', 'u6984', 'u3507', 'u1336', 'u4237', 'u2712', 'u3113', 'u470', 'u1126', 'u4733', 'u2407', 'u5069', 'u8921', 'u3838', 'u908', 'u1960', 'u6479', 'u4465', 'u7449', 'u5558', 'u2079', 'u8016', 'u7922', 'u6598', 'u3401', 'u4002', 'u2716', 'u7453', 'u3155', 'u4457', 'u6852', 'u7480', 'u2372', 'u6448', 'u3526', 'u3085', 'u2689', 'u6988', 'u1431', 'u5110', 'u5482', 'u3457', 'u284', 'u2925', 'u6559', 'u5587', 'u121', 'u4962', 'u8549', 'u8736', 'u3573', 'u5092', 'u1821', 'u8537', 'u2867', 'u3439', 'u365', 'u4186', 'u1942', 'u6445', 'u8296', 'u934', 'u2920', 'u8710', 'u1992', 'u259', 'u6086', 'u9025', 'u5699', 'u3705', 'u4191', 'u8367', 'u82', 'u5677', 'u1251', 'u4738', 'u1549', 'u3969', 'u45', 'u8841', 'u1038', 'u1553', 'u2083', 'u6596', 'u8068', 'u8906', 'u1723', 'u4744', 'u2098', 'u8160', 'u2171', 'u5462', 'u602', 'u7438', 'u3564', 'u8556', 'u5295', 'u3999', 'u4488', 'u5102', 'u8336', 'u7201', 'u3109', 'u3907', 'u277', 'u6995', 'u6002', 'u2431', 'u2536', 'u8223', 'u3449', 'u7865', 'u1771', 'u6882', 'u7270', 'u753', 'u5801', 'u3676', 'u7773', 'u6674', 'u6151', 'u5907', 'u7358', 'u8479', 'u534', 'u3898', 'u6067', 'u2032', 'u134', 'u4097', 'u7051', 'u3051', 'u4333', 'u6183', 'u2132', 'u950', 'u2096', 'u8452', 'u2795', 'u2139', 'u8573', 'u8929', 'u2819', 'u970', 'u7764', 'u8118', 'u1365', 'u7704', 'u2953', 'u9009', 'u7362', 'u5797', 'u5868', 'u7316', 'u4609', 'u4379', 'u8013', 'u2247', 'u4038', 'u4917', 'u2921', 'u4429', 'u2043', 'u1398', 'u8167', 'u7732', 'u2367', 'u3190', 'u8955', 'u1909', 'u440', 'u5085', 'u853', 'u5387', 'u2044', 'u8704', 'u8101', 'u361', 'u2984', 'u3472', 'u6799', 'u7196', 'u5521', 'u1481', 'u2810', 'u6105', 'u4608', 'u3774', 'u3718', 'u2775', 'u7044', 'u7693', 'u5708', 'u1467', 'u7624', 'u3107', 'u8702', 'u3371', 'u7150', 'u1332', 'u5789', 'u7281', 'u6759', 'u2772', 'u79', 'u1072', 'u782', 'u5990', 'u7638', 'u4062', 'u1828', 'u3886', 'u2117', 'u2833', 'u5314', 'u7096', 'u2948', 'u513', 'u4220', 'u2231', 'u4069', 'u607', 'u1778', 'u1800', 'u1430', 'u6029', 'u5717', 'u4437', 'u1599', 'u973', 'u6994', 'u8765', 'u4745', 'u9018', 'u6661', 'u6108', 'u3047', 'u1809', 'u7862', 'u1528', 'u7401', 'u6898', 'u7827', 'u5644', 'u876', 'u7829', 'u8888', 'u63', 'u8516', 'u1850', 'u5701', 'u4414', 'u1958', 'u4814', 'u4351', 'u4443', 'u8044', 'u4581', 'u1254', 'u2517', 'u172', 'u1704', 'u8636', 'u1134', 'u7616', 'u6475', 'u5530', 'u6721', 'u5794', 'u3193', 'u8098', 'u7024', 'u2268', 'u6178', 'u2100', 'u7583', 'u2816', 'u8939', 'u3768', 'u3003', 'u3737', 'u8037', 'u4045', 'u3830', 'u3978', 'u941', 'u2364', 'u3994', 'u6960', 'u2645', 'u2584', 'u370', 'u1841', 'u947', 'u1152', 'u4565', 'u4653', 'u6213', 'u8120', 'u5293', 'u6202', 'u5855', 'u5058', 'u2753', 'u5464', 'u7695', 'u1511', 'u170', 'u294', 'u4702', 'u5892', 'u4563', 'u5209', 'u2413', 'u5045', 'u7996', 'u1996', 'u8494', 'u1485', 'u531', 'u5912', 'u2679', 'u572', 'u3395', 'u2763', 'u2243', 'u8844', 'u5655', 'u3469', 'u1815', 'u1043', 'u6227', 'u3392', 'u620', 'u3946', 'u1445', 'u3056', 'u7290', 'u5904', 'u207', 'u1895', 'u3595', 'u3769', 'u3837', 'u5713', 'u8610', 'u1033', 'u647', 'u8668', 'u2745', 'u3835', 'u5237', 'u6343', 'u1845', 'u7162', 'u6681', 'u6831', 'u966', 'u7793', 'u6602', 'u1466', 'u1953', 'u6162', 'u5994', 'u1179', 'u2964', 'u4273', 'u438', 'u2657', 'u2669', 'u6796', 'u1004', 'u4446', 'u6080', 'u1606', 'u8755', 'u3528', 'u6841', 'u1474', 'u7496', 'u3940', 'u4545', 'u5554', 'u4598', 'u1159', 'u267', 'u6144', 'u7989', 'u1665', 'u3280', 'u8473', 'u2765', 'u3754', 'u7991', 'u514', 'u396', 'u4644', 'u4647', 'u6895', 'u2154', 'u2390', 'u4926', 'u5650', 'u6474', 'u2031', 'u484', 'u4172', 'u7241', 'u8090', 'u1733', 'u6810', 'u7705', 'u138', 'u8115', 'u2099', 'u7071', 'u7774', 'u5769', 'u8978', 'u1063', 'u4975', 'u5765', 'u6244', 'u5626', 'u3624', 'u1140', 'u411', 'u7724', 'u8700', 'u1073', 'u5851', 'u7600', 'u850', 'u4678', 'u8458', 'u4487', 'u1260', 'u568', 'u6662', 'u8632', 'u3580', 'u4783', 'u5053', 'u617', 'u177', 'u716', 'u1920', 'u385', 'u2607', 'u6604', 'u3977', 'u351', 'u6194', 'u4335', 'u8572', 'u8477', 'u678', 'u7880', 'u933', 'u1142', 'u2767', 'u3617', 'u5579', 'u4226', 'u3029', 'u3317', 'u5514', 'u7681', 'u8457', 'u6588', 'u7647', 'u1218', 'u3484', 'u2189', 'u8315', 'u7613', 'u8256', 'u1348', 'u1011', 'u2761', 'u3902', 'u2376', 'u3312', 'u2533', 'u5848', 'u6206', 'u4313', 'u8360', 'u811', 'u4694', 'u4905', 'u5089', 'u5309', 'u7250', 'u8994', 'u3793', 'u3496', 'u54', 'u89', 'u6295', 'u7971', 'u1714', 'u2933', 'u8626', 'u7618', 'u3200', 'u3094', 'u1677', 'u4968', 'u4542', 'u4834', 'u4461', 'u270', 'u65', 'u1065', 'u7607', 'u7578', 'u7555', 'u1297', 'u1076', 'u5111', 'u7131', 'u2335', 'u8597', 'u4579', 'u381', 'u4854', 'u3077', 'u565', 'u3434', 'u285', 'u2740', 'u4773', 'u1908', 'u1963', 'u2432', 'u2146', 'u631', 'u7595', 'u5812', 'u6966', 'u8607', 'u5402', 'u373', 'u1020', 'u5476', 'u2869', 'u2185', 'u5629', 'u5520', 'u8319', 'u7136', 'u7507', 'u3726', 'u1676', 'u3288', 'u3274', 'u6811', 'u6263', 'u8327', 'u8154', 'u1938', 'u7331', 'u2051', 'u7744', 'u5569', 'u5442', 'u8422', 'u2666', 'u6887', 'u5721', 'u5407', 'u6964', 'u3462', 'u3148', 'u4256', 'u1825', 'u8504', 'u6533', 'u8486', 'u7456', 'u8247', 'u8306', 'u3163', 'u2417', 'u3460', 'u4110', 'u2581', 'u3812', 'u1863', 'u4570', 'u7861', 'u5693', 'u1812', 'u2006', 'u1872', 'u3548', 'u6066', 'u4955', 'u6791', 'u2232', 'u4247', 'u5649', 'u6380', 'u2358', 'u8856', 'u7015', 'u2035', 'u8986', 'u5932', 'u9004', 'u7171', 'u1422', 'u3854', 'u8528', 'u3723', 'u4489', 'u6963', 'u2878', 'u722', 'u1546', 'u3771', 'u748', 'u8238', 'u475', 'u7067', 'u2985', 'u5087', 'u7660', 'u767', 'u2179', 'u3859', 'u1570', 'u9034', 'u7399', 'u2694', 'u7679', 'u3881', 'u2393', 'u5088', 'u2774', 'u2524', 'u3381', 'u5126', 'u5602', 'u3582', 'u1035', 'u8047', 'u8511', 'u8962', 'u332', 'u6312', 'u8085', 'u4357', 'u271', 'u4740', 'u2976', 'u4389', 'u7285', 'u2112', 'u5158', 'u352', 'u5657', 'u15', 'u1298', 'u4363', 'u1329', 'u736', 'u202', 'u206', 'u1540', 'u8880', 'u3481', 'u3184', 'u5080', 'u7175', 'u5108', 'u773', 'u9030', 'u7875', 'u4322', 'u8857', 'u405', 'u7272', 'u6453', 'u4659', 'u8058', 'u7426', 'u3915', 'u8544', 'u212', 'u4384', 'u6038', 'u7758', 'u949', 'u3722', 'u8222', 'u3006', 'u3536', 'u5656', 'u5739', 'u4761', 'u6219', 'u216', 'u7964', 'u4730', 'u4395', 'u3046', 'u1226', 'u3030', 'u7605', 'u6483', 'u5285', 'u6369', 'u750', 'u2724', 'u5555', 'u2467', 'u2276', 'u2752', 'u3897', 'u7072', 'u780', 'u7612', 'u3996', 'u7984', 'u4124', 'u2473', 'u5156', 'u4160', 'u2626', 'u7834', 'u2056', 'u5409', 'u4872', 'u2743', 'u5673', 'u8293', 'u2338', 'u243', 'u8136', 'u6901', 'u5286', 'u1582', 'u586', 'u4096', 'u6269', 'u7115', 'u3630', 'u3111', 'u7034', 'u2257', 'u687', 'u4890', 'u7386', 'u487', 'u6195', 'u7007', 'u1888', 'u4163', 'u5396', 'u6106', 'u179', 'u7910', 'u2606', 'u2459', 'u3683', 'u205', 'u5421', 'u2696', 'u1488', 'u8061', 'u2568', 'u5573', 'u3465', 'u8690', 'u4193', 'u4336', 'u2005', 'u4567', 'u1933', 'u6773', 'u2528', 'u7376', 'u3141', 'u8427', 'u7957', 'u7321', 'u3344', 'u4864', 'u8178', 'u7176', 'u2509', 'u5401', 'u466', 'u2311', 'u6197', 'u8231', 'u2701', 'u7282', 'u374', 'u4541', 'u5142', 'u4627', 'u843', 'u8567', 'u3575', 'u357', 'u2425', 'u8972', 'u4117', 'u77', 'u5299', 'u6209', 'u558', 'u1775', 'u4891', 'u2406', 'u3325', 'u6794', 'u3306', 'u2824', 'u4282', 'u1501', 'u7402', 'u2684', 'u4687', 'u3693', 'u6876', 'u3913', 'u2472', 'u195', 'u6739', 'u4051', 'u5186', 'u4665', 'u5536', 'u8987', 'u4066', 'u1022', 'u279', 'u2961', 'u5268', 'u8111', 'u2728', 'u5516', 'u8605', 'u4022', 'u4518', 'u2103', 'u2963', 'u2458', 'u428', 'u8542', 'u5846', 'u1227', 'u1787', 'u4671', 'u931', 'u569', 'u8910', 'u6861', 'u7478', 'u3795', 'u3613', 'u4271', 'u4330', 'u8183', 'u3966', 'u8032', 'u1878', 'u4680', 'u7742', 'u2721', 'u5839', 'u4590', 'u7149', 'u4430', 'u1734', 'u3219', 'u6972', 'u474', 'u2887', 'u4483', 'u2805', 'u4291', 'u446', 'u8664', 'u5426', 'u2777', 'u1290', 'u8389', 'u957', 'u301', 'u6827', 'u5062', 'u7737', 'u1777', 'u7086', 'u974', 'u4085', 'u6228', 'u2255', 'u5506', 'u4042', 'u5155', 'u7407', 'u8539', 'u3231', 'u39', 'u218', 'u3950', 'u2559', 'u2882', 'u4275', 'u1532', 'u7382', 'u1373', 'u122', 'u4801', 'u4742', 'u1040', 'u8579', 'u1097', 'u2733', 'u6977', 'u794', 'u749', 'u6941', 'u7581', 'u644', 'u598', 'u5898', 'u6309', 'u2122', 'u4614', 'u7924', 'u2397', 'u1949', 'u2113', 'u7207', 'u2818', 'u7795', 'u6672', 'u6184', 'u4267', 'u3242', 'u83', 'u8508', 'u6635', 'u242', 'u8731', 'u8898', 'u1689', 'u4219', 'u1473', 'u3110', 'u5042', 'u6969', 'u808', 'u2223', 'u7447', 'u1814', 'u1354', 'u3698', 'u5501', 'u7886', 'u6059', 'u9028', 'u6116', 'u5577', 'u8283', 'u7193', 'u945', 'u6048', 'u4341', 'u7154', 'u900', 'u1458', 'u1327', 'u2653', 'u2683', 'u654', 'u3065', 'u6542', 'u3533', 'u905', 'u1538', 'u8738', 'u2180', 'u5734', 'u4083', 'u1621', 'u1146', 'u442', 'u4936', 'u2614', 'u1887', 'u8571', 'u5025', 'u1360', 'u2359', 'u3815', 'u2813', 'u3134', 'u3670', 'u1998', 'u3847', 'u6315', 'u3087', 'u8593', 'u3834', 'u8615', 'u1', 'u240', 'u1026', 'u2549', 'u341', 'u4156', 'u6685', 'u2233', 'u4079', 'u6894', 'u939', 'u2729', 'u4705', 'u1352', 'u6812', 'u7859', 'u4467', 'u6072', 'u4989', 'u5953', 'u8076', 'u1056', 'u681', 'u5248', 'u8913', 'u2053', 'u5896', 'u8681', 'u6031', 'u2513', 'u8616', 'u3212', 'u43', 'u6605', 'u2434', 'u6094', 'u763', 'u8288', 'u7810', 'u2479', 'u1954', 'u3620', 'u4821', 'u7011', 'u670', 'u2101', 'u1722', 'u8269', 'u7425', 'u791', 'u2306', 'u4789', 'u3954', 'u3619', 'u8779', 'u5810', 'u5831', 'u2945', 'u8380', 'u6385', 'u2620', 'u1051', 'u6530', 'u5702', 'u5132', 'u660', 'u4779', 'u3515', 'u2375', 'u8100', 'u2165', 'u8393', 'u4822', 'u1870', 'u2642', 'u2274', 'u1339', 'u6509', 'u2170', 'u9029', 'u3256', 'u6845', 'u2014', 'u1129', 'u5687', 'u6638', 'u318', 'u7486', 'u6702', 'u1208', 'u5403', 'u1137', 'u7102', 'u2936', 'u6990', 'u7783', 'u2827', 'u4073', 'u4142', 'u3378', 'u6296', 'u6992', 'u6597', 'u8868', 'u4496', 'u8234', 'u913', 'u1869', 'u6543', 'u2361', 'u3984', 'u7008', 'u5880', 'u1688', 'u7080', 'u3482', 'u6856', 'u919', 'u290', 'u5535', 'u8502', 'u4651', 'u4512', 'u3894', 'u8897', 'u5977', 'u7476', 'u8133', 'u1399', 'u4017', 'u1136', 'u4833', 'u2395', 'u2025', 'u4082', 'u7651', 'u721', 'u5229', 'u44', 'u496', 'u2623', 'u1347', 'u508', 'u5034', 'u7232', 'u5466', 'u6700', 'u3161', 'u4490', 'u4452', 'u896', 'u2445', 'u4765', 'u371', 'u1554', 'u3331', 'u2770', 'u7069', 'u5938', 'u5513', 'u2449', 'u1296', 'u2024', 'u2118', 'u694', 'u902', 'u4939', 'u2755', 'u5271', 'u6722', 'u3688', 'u6999', 'u4856', 'u3304', 'u1717', 'u6510', 'u3048', 'u4243', 'u302', 'u1569', 'u2915', 'u1015', 'u4264', 'u4090', 'u5022', 'u378', 'u8671', 'u1027', 'u4393', 'u5166', 'u4209', 'u1563', 'u3877', 'u2254', 'u3185', 'u680', 'u2410', 'u7738', 'u3896', 'u7452', 'u8342', 'u1789', 'u1156', 'u1295', 'u1509', 'u1180', 'u771', 'u5620', 'u8364', 'u1762', 'u1941', 'u2050', 'u5320', 'u829', 'u4442', 'u5624', 'u3502', 'u8566', 'u7388', 'u7079', 'u8969', 'u6917', 'u3272', 'u8442', 'u4832', 'u954', 'u541', 'u2594', 'u5131', 'u1258', 'u7253', 'u7312', 'u8340', 'u5813', 'u6083', 'u1541', 'u3936', 'u5434', 'u2236', 'u1257', 'u7200', 'u4001', 'u3761', 'u8778', 'u4246', 'u1780', 'u3885', 'u8', 'u282', 'u1148', 'u5707', 'u6264', 'u2498', 'u304', 'u6684', 'u2017', 'u8445', 'u408', 'u3836', 'u5940', 'u4920', 'u4925', 'u6028', 'u4713', 'u5301', 'u1731', 'u937', 'u6465', 'u6497', 'u6589', 'u275', 'u2744', 'u3861', 'u5463', 'u6023', 'u1924', 'u4021', 'u551', 'u7494', 'u4883', 'u8138', 'u2880', 'u300', 'u764', 'u4115', 'u507', 'u4757', 'u4973', 'u3895', 'u5428', 'u5710', 'u4645', 'u8172', 'u4830', 'u4539', 'u5121', 'u6403', 'u2650', 'u1039', 'u5187', 'u8793', 'u9002', 'u4370', 'u4367', 'u7906', 'u805', 'u3415', 'u5740', 'u273', 'u2661', 'u7440', 'u3626', 'u6251', 'u2849', 'u426', 'u4111', 'u1700', 'u4114', 'u7815', 'u7278', 'u1253', 'u346', 'u7301', 'u7969', 'u7259', 'u2647', 'u6171', 'u5061', 'u8350', 'u4119', 'u3636', 'u1773', 'u5780', 'u1681', 'u5208', 'u4800', 'u1059', 'u1483', 'u2077', 'u8432', 'u10', 'u6147', 'u7236', 'u6233', 'u1471', 'u672', 'u2565', 'u8757', 'u4666', 'u8094', 'u5114', 'u2792', 'u8904', 'u2597', 'u4957', 'u4347', 'u7568', 'u7929', 'u6538', 'u8220', 'u7400', 'u6307', 'u576', 'u1067', 'u7982', 'u1219', 'u5152', 'u1247', 'u1667', 'u4643', 'u159', 'u3785', 'u3541', 'u8827', 'u5858', 'u1666', 'u7721', 'u5308', 'u8184', 'u1489', 'u7622', 'u3297', 'u1604', 'u8307', 'u5219', 'u7209', 'u1425', 'u111', 'u2622', 'u1353', 'u3444', 'u7404', 'u398', 'u2700', 'u2801', 'u4316', 'u8926', 'u7812', 'u8322', 'u7790', 'u418', 'u1480', 'u8743', 'u3053', 'u6815', 'u4190', 'u819', 'u465', 'u3749', 'u61', 'u1504', 'u2562', 'u3181', 'u5969', 'u3389', 'u1984', 'u2125', 'u477', 'u564', 'u3348', 'u6201', 'u33', 'u2717', 'u272', 'u2930', 'u3596', 'u7369', 'u3128', 'u7178', 'u6844', 'u6376', 'u4909', 'u1865', 'u3445', 'u2300', 'u6018', 'u461', 'u4845', 'u5135', 'u6293', 'u834', 'u5252', 'u6049', 'u7776', 'u5487', 'u6699', 'u3483', 'u563', 'u5973', 'u4235', 'u7457', 'u4819', 'u5854', 'u4131', 'u165', 'u5833', 'u870', 'u1882', 'u4802', 'u7357', 'u5298', 'u8600', 'u2560', 'u7999', 'u4731', 'u6345', 'u866', 'u8271', 'u5817', 'u226', 'u4597', 'u1833', 'u2862', 'u3552', 'u5549', 'u5104', 'u2830', 'u5792', 'u524', 'u3376', 'u751', 'u8873', 'u3851', 'u6383', 'u6838', 'u1764', 'u5992', 'u8253', 'u1575', 'u3660', 'u1066', 'u3589', 'u6349', 'u8961', 'u7257', 'u6237', 'u4376', 'u7631', 'u2128', 'u4691', 'u3314', 'u386', 'u4198', 'u3586', 'u6041', 'u5228', 'u4375', 'u1439', 'u5474', 'u6518', 'u8008', 'u723', 'u6781', 'u4321', 'u2078', 'u8435', 'u1396', 'u8245', 'u6003', 'u8800', 'u3093', 'u1889', 'u5991', 'u8287', 'u1446', 'u6809', 'u3758', 'u125', 'u1935', 'u5700', 'u5957', 'u932', 'u2861', 'u7248', 'u6740', 'u2515', 'u1718', 'u4632', 'u5870', 'u2166', 'u634', 'u4137', 'u7826', 'u3249', 'u6965', 'u6627', 'u609', 'u4345', 'u5259', 'u1175', 'u76', 'u1183', 'u464', 'u1739', 'u5190', 'u1783', 'u6102', 'u2259', 'u7711', 'u983', 'u4529', 'u5460', 'u5049', 'u4797', 'u8799', 'u6061', 'u8444', 'u86', 'u6225', 'u8772', 'u7628', 'u219', 'u5014', 'u2409', 'u8007', 'u8426', 'u149', 'u476', 'u8791', 'u6575', 'u6265', 'u4703', 'u8780', 'u4610', 'u7105', 'u5685', 'u113', 'u7915', 'u8905', 'u5468', 'u3991', 'u3013', 'u2845', 'u4140', 'u6192', 'u3234', 'u4559', 'u4187', 'u6462', 'u510', 'u2067', 'u6468', 'u1562', 'u3221', 'u6505', 'u1482', 'u5631', 'u1291', 'u6683', 'u7634', 'u4880', 'u8009', 'u1692', 'u2483', 'u4332', 'u5764', 'u562', 'u256', 'u1605', 'u7432', 'u8229', 'u2917', 'u2523', 'u3473', 'u6329', 'u5786', 'u4851', 'u3021', 'u3084', 'u3260', 'u6395', 'u463', 'u1832', 'u2011', 'u969', 'u655', 'u2758', 'u2258', 'u1601', 'u2545', 'u1531', 'u1101', 'u391', 'u5278', 'u772', 'u6174', 'u5091', 'u1016', 'u7893', 'u5865', 'u637', 'u7687', 'u3839', 'u1363', 'u7429', 'u3227', 'u1139', 'u7916', 'u1104', 'u2695', 'u1968', 'u8255', 'u7844', 'u81', 'u911', 'u3191', 'u7930', 'u8540', 'u1322', 'u6897', 'u4416', 'u5019', 'u8390', 'u5123', 'u407', 'u8214', 'u3002', 'u3101', 'u2385', 'u6494', 'u1414', 'u6859', 'u415', 'u5392', 'u5218', 'u4023', 'u5115', 'u7398', 'u3989', 'u7691', 'u4340', 'u5225', 'u3968', 'u4469', 'u3505', 'u5727', 'u1880', 'u8917', 'u4711', 'u1534', 'u3783', 'u3083', 'u2283', 'u7751', 'u991', 'u2317', 'u3120', 'u1324', 'u203', 'u3786', 'u1406', 'u2979', 'u8581', 'u314', 'u5296', 'u4411', 'u24', 'u3747', 'u3770', 'u414', 'u5709', 'u8621', 'u3079', 'u8727', 'u1150', 'u8092', 'u8853', 'u4196', 'u4365', 'u3535', 'u8212', 'u6037', 'u7244', 'u5557', 'u9016', 'u7076', 'u5041', 'u6193', 'u1264', 'u9033', 'u4599', 'u6308', 'u36', 'u5418', 'u6920', 'u632', 'u6335', 'u8447', 'u3475', 'u8404', 'u8407', 'u8973', 'u755', 'u2760', 'u9027', 'u182', 'u4102', 'u4204', 'u6565', 'u5174', 'u6302', 'u2145', 'u1969', 'u4463', 'u8850', 'u8900', 'u3632', 'u5686', 'u2954', 'u5181', 'u359', 'u1820', 'u3400', 'u1781', 'u6813', 'u5884', 'u6036', 'u4149', 'u7483', 'u3981', 'u5143', 'u2022', 'u1410', 'u3776', 'u3813', 'u8158', 'u8080', 'u9024', 'u3035', 'u3165', 'u2028', 'u629', 'u7908', 'u2754', 'u4118', 'u7344', 'u8775', 'u6285', 'u4280', 'u2439', 'u4157', 'u2318', 'u639', 'u8739', 'u4227', 'u7032', 'u2681', 'u2686', 'u3928', 'u3070', 'u806', 'u2640', 'u3727', 'u860', 'u5094', 'u2437', 'u413', 'u8870', 'u168', 'u4101', 'u7822', 'u2000', 'u1726', 'u3906', 'u5171', 'u5945', 'u6536', 'u8330', 'u3074', 'u4683', 'u8241', 'u2983', 'u8846', 'u7752', 'u1268', 'u4743', 'u868', 'u7570', 'u3663', 'u3941', 'u7127', 'u7100', 'u4692', 'u5318', 'u1460', 'u841', 'u4098', 'u6268', 'u2802', 'u3292', 'u5163', 'u2091', 'u4221', 'u575', 'u4374', 'u4014', 'u4735', 'u6118', 'u4894', 'u6234', 'u3875', 'u6128', 'u6769', 'u2990', 'u7928', 'u8332', 'u778', 'u891', 'u7756', 'u3751', 'u7505', 'u6935', 'u7385', 'u291', 'u8564', 'u6411', 'u3224', 'u6352', 'u746', 'u5149', 'u1326', 'u837', 'u8872', 'u1690', 'u1786', 'u7577', 'u4640', 'u4732', 'u8014', 'u1117', 'u6752', 'u7395', 'u4399', 'u2303', 'u8756', 

In [399]:
##When we remove the lId we may see charaters repeating dialogues  
lines_df_mod = lines_df[['chId', 'mId', 'chName', 'chLine']]

# Remove duplicate rows
duplicate_counts = lines_df_mod.duplicated().sum()
print("Total Number Of Duplicates: ", duplicate_counts)
if duplicate_counts > 0:
   lines_df_mod = lines_df_mod.drop_duplicates()
   
lines_df_mod.shape

Total Number Of Duplicates:  5438

(283182, 4)

In [400]:
df = detailed_characters_df.merge(lines_df_mod, on=['chId', 'mId'], how='inner')
df.head()

,chId,chName_x,mId,mName,gender,posCredits,mYear,mRating,mVotes,mGenre,chName_y,chLine
0,u0,BIANCA,m0,10 things i hate about you,F,4,1999,6.9,62847.0,['comedy' 'romance'],BIANCA,They do not!
1,u0,BIANCA,m0,10 things i hate about you,F,4,1999,6.9,62847.0,['comedy' 'romance'],BIANCA,I hope so.
2,u0,BIANCA,m0,10 things i hate about you,F,4,1999,6.9,62847.0,['comedy' 'romance'],BIANCA,Let's go.
3,u0,BIANCA,m0,10 things i hate about you,F,4,1999,6.9,62847.0,['comedy' 'romance'],BIANCA,Okay -- you're gonna need to learn how to lie.
4,u0,BIANCA,m0,10 things i hate about you,F,4,1999,6.9,62847.0,['comedy' 'romance'],BIANCA,Like my fear of wearing pastels?

In [401]:
# Filter rows where chName_x does not match chName_y
mismatched_names_df = df[df['chName_x'] != df['chName_y']]

# Display the rows with mismatched names
print("Rows with mismatched chName_x and chName_y:")
print(mismatched_names_df)

Rows with mismatched chName_x and chName_y:
Empty DataFrame
Columns: [chId, chName_x, mId, mName, gender, posCredits, mYear, mRating, mVotes, mGenre, chName_y, chLine]
Index: []

In [402]:
df['chName'] = df['chName_x']
df = df.drop(['chName_y','chName_x'], axis=1)
df.head()

,chId,mId,mName,gender,posCredits,mYear,mRating,mVotes,mGenre,chLine,chName
0,u0,m0,10 things i hate about you,F,4,1999,6.9,62847.0,['comedy' 'romance'],They do not!,BIANCA
1,u0,m0,10 things i hate about you,F,4,1999,6.9,62847.0,['comedy' 'romance'],I hope so.,BIANCA
2,u0,m0,10 things i hate about you,F,4,1999,6.9,62847.0,['comedy' 'romance'],Let's go.,BIANCA
3,u0,m0,10 things i hate about you,F,4,1999,6.9,62847.0,['comedy' 'romance'],Okay -- you're gonna need to learn how to lie.,BIANCA
4,u0,m0,10 things i hate about you,F,4,1999,6.9,62847.0,['comedy' 'romance'],Like my fear of wearing pastels?,BIANCA

In [403]:
nan_percentage = (df.isna().mean() * 100).round(2)
print(nan_percentage)

chId          0.0
mId           0.0
mName         0.0
gender        0.0
posCredits    0.0
mYear         0.0
mRating       0.0
mVotes        0.0
mGenre        0.0
chLine        0.0
chName        0.0
dtype: float64

In [404]:
# Remove duplicate rows
duplicate_counts = df.duplicated().sum()
print("Total Number Of Duplicates: ", duplicate_counts)
if duplicate_counts > 0:
   df = df.drop_duplicates()
df.shape

Total Number Of Duplicates:  0

(200352, 11)

In [405]:
##Get the number of unique dialogues spoken by each characters.
df['dialoguesCount'] = df.groupby(['chId', 'mId'])['chLine'].transform('count')

##Get the number of characters per dialogue
df['charCountPerDialogue'] = df.chLine.str.len()

##Get the number of words per dialogue
df['wordCountPerDialogue'] = df.chLine.str.count(' ') + 1

In [406]:
df.head()

,chId,mId,mName,gender,posCredits,mYear,mRating,mVotes,mGenre,chLine,chName,dialoguesCount,charCountPerDialogue,wordCountPerDialogue
0,u0,m0,10 things i hate about you,F,4,1999,6.9,62847.0,['comedy' 'romance'],They do not!,BIANCA,92,12,3
1,u0,m0,10 things i hate about you,F,4,1999,6.9,62847.0,['comedy' 'romance'],I hope so.,BIANCA,92,10,3
2,u0,m0,10 things i hate about you,F,4,1999,6.9,62847.0,['comedy' 'romance'],Let's go.,BIANCA,92,9,2
3,u0,m0,10 things i hate about you,F,4,1999,6.9,62847.0,['comedy' 'romance'],Okay -- you're gonna need to learn how to lie.,BIANCA,92,46,10
4,u0,m0,10 things i hate about you,F,4,1999,6.9,62847.0,['comedy' 'romance'],Like my fear of wearing pastels?,BIANCA,92,32,6